<hr class="timeline-small me-3 ms-3">
<% if pi.cttd.present? %>

<div class="row" style="background-color: #c7efdd;">
	<div class="col-12">
		<h5 class="mt-3 mb-3 text-muted">Forecast</h5>
	</div>

	<!-- Settlement Time -->
	<% if pi.sales_by %>
	<div class="col-12 mb-2 d-flex justify-content-between">
		<strong>Sales by:</strong>
		<span><%= pi.sales_by %></span>
	</div>
	<% end %>

	<div class="col-12 mb-2 d-flex justify-content-between">
		<strong>Customer Settlement Time:</strong>
		<span><%= pi.cttd %> Days</span>
	</div>

	<!-- Costs Header -->
	<div class="col-12 mt-3">
		<h6 class="text-muted">Costs</h6>
	</div>

	<!-- Costs Grid (only if value > 0) -->
	<% sum_of_costs = 0 %>
	<% [
		[:purchase, 'Purchase'],
		[:packing_cost, 'Packing'],
		[:transport, 'Transport'],
		[:custom_cost, 'Custom & Port'],
		[:freight, 'Freight'],
		[:insurance, 'Insurance'],
		[:inspection, 'Inspection'],
		[:other_cost, 'Other Cost'],
		[:internal_commission, 'Internal Commission'],
		[:foreign_commission, 'Foreign Commission']
		].each do |field, label| %>
		<% value = pi.send(field) %>
		<% if value.present? && value != 0 %>
		<% sum_of_costs += value %>
		<div class="col-md-6 mb-2 d-flex justify-content-between">
			<strong><%= label %>:</strong>
			<span>$<%= number_with_precision(value, precision: 2) %></span>
		</div>
		<% end %>
		<% end %>
		<hr class="timeline-small me-3 ms-3">
		<% pi.currency == "dollar" ? unit = pi.unit_price : unit = pi.unit_price * 3.67 %>

		<% profit = unit - sum_of_costs.to_i %>
		<div class="row mb-3">
			<div class="col">
				<div class="card card-custom mt-1">
					<div class="card-body text-center">
						<h6 class="card-subtitle timeline-small">
							Profit Margin % 
							<hr>
						</h6>
						<small class="text-center text-secondary"><%= number_with_precision((profit / unit) * 100, precision: 2) %>
						%</small>

					</div>
				</div>
			</div>
			<div class="col">
				<div class="card card-custom mt-1">
					<div class="card-body text-center">
						<h6 class="card-subtitle timeline-small">
							Interest %
							<hr>
						</h6>
						<small class="text-center text-secondary"><%= number_with_precision(((profit / sum_of_costs) * 365) / pi.cttd, precision: 2) %>
						%</small>


					</div>
				</div>
			</div>
		</div>

	</div>
	<% end %>

