<%= form_with model: @pi, local: true, url: @pi.new_record? ? create_temp_pis_path : update_temp_pi_path(@pi) do |form| %>

<div class="modal-body">
	<div class="row">
		<% if @pi.errors.any? %>
		<div class="error-area" style="color:red;">
			<h3><%= pluralize(@pi.errors.count, 'error') %> prohibited your pi from being saved.</h3>
			<ul>
				<% @pi.errors.each do |error|%>
				<li>
					<%= error.full_message%>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="row">
			<div class="col-lg-6">
				<div class="d-flex justify-content-start">
					<h4>Purchase invoice</h4>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="d-flex justify-content-end">
					<% if @project %>
					<small class="text-secondary">Project: <%= @project.number %></small>
					<% else %>
					<small class="text-danger">No Project Yet</small>

					<% end %>
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="row bg-semi">
				<div class="col-lg-7 mb-2">
					<div class="form-group">
						<label class="mb-2 mt-3">
							PI number
							<span class="text-danger">*</span>
						</label>
						<%= form.text_field :number, class: 'form-control' %>
					</div>
				</div>

				<div class="col-lg-5">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Issue Date
							<span class="text-danger">*</span>
							<%= form.date_field :issue_date, class: "form-control mt-2" %>
						</label>
					</div>
				</div>
				
				
				
			</div>

			<div class="row">
				<div class="col-lg-4">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Seller
							<span class="text-danger">*</span>
							<%= form.text_field :seller, class: "form-control mt-2" %>
						</label>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group mb-2">
						<label class="mb-2 mt-3">
							Customer
							<span class="text-danger">*</span>
							<%= form.collection_select :customer_id, Customer.all, :id, :nickname, { prompt: 'Select Customer'}, { class: "form-select mt-2" } %>
						</label>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Bank Account
							<%= form.collection_select :account_id, Account.includes(:bank).all, :id, :display_name_with_bank, {include_blank: true}, {class: 'form-select mt-2'} %>

						</label>
					</div>
				</div>
				


			</div>


			<div class="row bg-semi">
				<div class="col-lg-5 mb-2">
					<div class="form-group  ">

						<label class="mb-2 mt-3">
							Product
							<span class="text-danger">*</span>
							<%= form.select :product, options_for_select(Pi::PRODUCT, selected: form.object.product), { prompt: 'Select product' }, { class:"form-select mt-2" } %>
						</label>


					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Packing
							<span class="text-danger">*</span>
							<%= form.select :packing_type, options_for_select(Pi::PACKING_TYPE, selected: form.object.packing_type), { prompt: 'Select packing' }, { class:"form-select mt-2 " } %>
						</label>
					</div>	
				</div>
				
				<div class="col-lg-3">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Tolerance %							
							<%= form.number_field :tolerance, class: "form-control mt-2", value: @pi.tolerance || 10 %>


						</label>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-lg-4">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Quantity
							<span class="text-danger">*</span>
							<%= form.number_field :quantity, id: "quantity_field", class: "form-control mt-2" %>


						</label>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group ">
						<label class="mb-2 mt-3">
							Unit Price
							<span class="text-danger">*</span>
							
							<%= form.number_field :unit_price,:step => "0.0001", id: "unit_price_field", class: "form-control mt-2" %>


						</label>
					</div>
				</div>
				
				<div class="col-lg-4">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Total Price
							<span class="text-danger">*</span>
							
							<%= form.number_field :total_price,:step => "0.0001", class: "form-control mt-2" %>


						</label>
					</div>
				</div>


			</div>
			<div class="row bg-semi">
				<div class="col-lg">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Advance %
							
							<small style="font-size: 10px;">Enter '0' if the PI does not include an advance payment</small> 							<span class="text-danger">*</span>

							<%= form.text_field :payment_term, class: "form-control mt-2" %>
						</label>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Currency
							<span class="text-danger">*</span>
							<%= form.select :currency, options_for_select(Pi::CURRENCY, selected: form.object.currency), { prompt: '' }, { class:"form-select mt-2" } %>
						</label>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-lg-5">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Loading Port
							<%= form.text_field :pol, class: 'form-control mt-2' %>

						</label>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Destination Port
							<span class="text-danger">*</span>
							<%= form.text_field :pod, class: 'form-control mt-2' %>

						</label>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Term
							<span class="text-danger">*</span>
							<%= form.text_field :incoterm, value: form.object.incoterm || "CFR", class: 'form-control mt-2' %>

						</label>
					</div>
				</div>

				

				
				
				
			</div>
			<div class="row bg-semi">
				
				
				<div class="col-lg mb-2">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Delivery Time
							<div class="input-group mt-2">
								<%= form.number_field :delivery_time, class: "form-control" %>
								<span class="input-group-text">Days</span>
							</div>
						</label>
					</div>
				</div>
				<div class="col-lg mb-2">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Validity
							<div class="input-group mt-2">
								<%= form.number_field :validity, class: "form-control" %>
								<span class="input-group-text">Days</span>
							</div>
						</label>
					</div>
				</div>
				
				
				
			</div>

			<div class="row ">
				
				
				<div class="col-lg mb-2">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Agent
							
							<%= form.select :agent, options_for_select(Pi::AGENT, selected: form.object.agent), { prompt: 'Select agent' }, { class:"form-select mt-2" } %>
						</label>
					</div>
				</div>
				<div class="col-lg mb-2">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Commission per MT
							<div class="input-group mt-2">
								<%= form.number_field :commission, class: "form-control" %>
								<span class="input-group-text">$</span>
							</div>
						</label>
					</div>
				</div>
				
				
				
			</div>

			<% if !@pi.document.id %>
			<div class="row">
				<div class="form-group">
					<label class="mb-4 mt-2">
						Upload Document
						<span class="text-danger">*</span>
						<%= form.file_field :document, class: "form-control custom-file-input mt-2" %>
					</label>
				</div>
			</div>
			<% else %>
			<% end %>
			<div class="card mt-4">
				<div class="card-body" style="background-color: #beedc6 !important;">
					<h4 class="mb-4 text-center">Forecast</h4>
					<div class="row mt-3">
						<div class="col-lg mb-1">
							<div class="row align-items-center">
								<div class="col-6">
									<label class="form-label mb-0">Sales By</label>
									<span class="text-danger">*</span>
								</div>
								<div class="col-6">
									<div class="input-group input-group-sm">
										<%= form.select :sales_by, Pi::SALESMEN, { include_blank: "Select a salesperson" }, class: "form-select" %>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-lg mb-1">
							<div class="row align-items-center">
								<div class="col-6">
									<label class="form-label mb-0">Customer Settlement time</label>
									<span class="text-danger">*</span>
								</div>
								<div class="col-6">
									<div class="input-group input-group-sm">
										<%= form.number_field :cttd, class: 'form-control form-control-sm' %>
										<span class="input-group-text">Days</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<hr class="timeline-small me-3 ms-3">


					<h6 class="mb-3 mt-4  text-muted">COSTS <span style="font-size: 11px; color:red;">All fields are required. Enter 0 if a field has no value.</span></h6>

					<div class="row">
						<% [
							[:purchase, 'Purchase'],
							[:packing_cost, 'Packing'],
							[:transport, 'Transport'],
							[:custom_cost, 'Custom & Port'],
							[:freight, 'Freight'],



							[:insurance, 'Insurance'],
							[:inspection, 'Inspection'],
							[:other_cost, 'Other Cost'],
							[:internal_commission, 'Internal Commission'],
							[:foreign_commission, 'Foreign Commission']

							].each do |field, label| %>
							<div class="col-lg-6 mb-3">
								<label class="form-label"><%= label %></label>
								<span class="text-danger">*</span>
								<div class="input-group input-group-sm">
									<%= form.number_field field, step: '0.01', class: 'form-control form-control-sm' %>
									<span class="input-group-text">$</span>
								</div>
							</div>
							<% end %>
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
	<div class="modal-footer">
		<%= form.submit 'Create PI', class: 'btn btn-primary', data: { action: 'click->bs-modal#submitEnd' } %>
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	</div>
	<% end %>