<div class="col-lg-10 mx-auto mt-5">



	<div class="card mb-5">
		<div class="card-body">
			<div class="d-flex justify-content-between align-items-center">
				<h5 class="card-title text-center mb-0">Purchase Invoices (PIs)</h5>
				<% if user_signed_in? && current_user.sales? %>
				
				<span>
					<%= link_to "New PI", new_temp_pis_path, data: { controller: "bs-modal-form" }, class: "btn btn-info" %>
				</span>

				<% end %>

			</div>
		</div>
	</div>
	<row class="m-2">
		<div class="col-sm">
			<table class="table">
				<thead>
					<tr>
						<th scope="col" class="col-sm-1">#</th>
						<th scope="col" class="col-sm-2">Customer</th>
						<th scope="col" class="col-sm-2">Product</th>
						<th scope="col" class="col-sm-2">Packing</th>
						<th scope="col" class="col-sm-2">Unit price</th>

						<th scope="col" class="col-sm-2">Total Price</th>
						<th scope="col" class="col-sm-2">Currency</th>
						<th scope="col" class="col-sm-2">Term</th>
						<th scope="col" class="col-sm-2">POD</th>
						<th scope="col" class="col-sm-2">File</th>
						<th scope="col" style="text-align: right;" class="col-sm-4 text-right">Actions</th>

					</tr>
				</thead>
				<tbody>
					<% @pis_without_project.order(created_at: :desc).each do |pi| %>
					<tr style="font-size: 12px;">
						<th scope="row">
							<%= pi.number %>
						</th>
						<td class="fw-bold"><%= pi.customer.nickname %></td>
						<td class="fw-bold"><%= pi.product %></td>
						<td><%= pi.packing_type %></td>

						<td><%= pi.unit_price %></td>
						<td><%= pi.total_price %></td>
						<td><% pi.currency %>
						</td>
						<td><%= pi.incoterm %></td>

						<td><%= pi.pod %></td>
						<td><% if pi.generated_document.present?%>
							<%= link_to 'PI', url_for(pi.generated_document.file), target: '_blank' %>
							<% end %></td>
							<td style="text-align: right;">
								<% if user_signed_in? && current_user.sales? %>

								<span>
									<%= link_to create_document_form_pi_path(pi), data: { controller: "bs-modal-form" } do %>
									<i class="bi bi-filetype-docx" style="color: green; font-size: 15px;"></i>
									<% end %>
									<%= link_to update_temp_form_pi_path(pi), data: { controller: "bs-modal-form" } do %>
									<i class="bi bi-pencil-fill" style="color: blueviolet; font-size: 15px;"></i>
									<% end %>
									<%= link_to assign_project_pi_path(pi), data: { controller: "bs-modal-form" } do %>
									<i class="bi bi-window-plus" style="color: blue; font-size: 15px;"></i>
									<% end %>

								</span>

								<% end %>


							</td>
						</tr>
						<% end %>
					</tbody>
				</table>

			</div>
		</row>
	</div>