<div class="col-lg-10 mx-auto mt-5">
  <div class="card mt-3 mb-3 bg-info">
    <p class="text-dark">Form for <%= @user.name.titleize %></p>
    <small class="text-primary">Score 1-10 </small> <small class="text-dark">Weight 1-3</small>
    
  </div>



  <%= form_with(url: update_form_assessments_path(user_id: @user.id), method: :patch, local: true) do |f| %>
  <div class="card mb-5">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex justify-content-start">
            
            <h5><%= @assessment_forms_ksa.first.assessment.category_point %> POINT</h5>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex justify-content-end">
            <h5>دانش و مهارت و توانایی (KSA)</h5>
          </div>
        </div>
      </div>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th scope="col" class="col-1">Weight</th>
            <th scope="col" class="col-1">Score</th>
            <th scope="col" class="col-9">Definition</th>
            <th scope="col" class="col-1">Criterion</th>
          </tr>
        </thead>
        <tbody>
          <% @assessment_forms_ksa.each do |assessment_form| %>
          <tr>
            <td class="align-middle">
              <div class="form-group">
                <%= number_field_tag "assessment_forms[#{assessment_form.id}][weight]", assessment_form.weight, class: "form-control", min: 1, max: 3 %>
                <% if assessment_form.errors[:weight].any? %>
                <div class="text-danger">
                  <%= assessment_form.errors[:weight].join(", ") %>
                </div>
                <% end %>
              </div>
            </td>
            <td class="align-middle">
              <div class="form-group">
                <%= number_field_tag "assessment_forms[#{assessment_form.id}][score]", assessment_form.score, class: "form-control", min: 1, max: 10 %>
                <% if assessment_form.errors[:score].any? %>
                <div class="text-danger">
                  <%= assessment_form.errors[:score].join(", ") %>
                </div>
                <% end %>
              </div>
            </td>
            <td class="align-right">
              <%= assessment_form.assessment.definition %>
            </td>
            <td class="align-right">
              <%= assessment_form.assessment.criterion %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex justify-content-start">
            <h5><%= @assessment_forms_ksa.first.assessment.category_point %> POINT</h5>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex justify-content-end">
            
            <h5>رفتارها و کردارها (EVC)</h5>
          </div>
        </div>
      </div>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th scope="col" class="col-1">Weight</th>
            <th scope="col" class="col-1">Score</th>
            <th scope="col" class="col-9">Definition</th>
            <th scope="col" class="col-1">Criterion</th>
          </tr>
        </thead>
        <tbody>
          <% @assessment_forms_evc.each do |assessment_form| %>
          <tr>
            
            <td class="align-middle">
              <div class="form-group">
                <%= number_field_tag "assessment_forms[#{assessment_form.id}][weight]", assessment_form.weight, class: "form-control", min: 1, max: 3 %>
                <% if assessment_form.errors[:weight].any? %>
                <div class="text-danger">
                  <%= assessment_form.errors[:weight].join(", ") %>
                </div>
                <% end %>
              </div>
            </td>
            <td class="align-middle">
              <div class="form-group">
                <%= number_field_tag "assessment_forms[#{assessment_form.id}][score]", assessment_form.score, class: "form-control", min: 1, max: 10 %>
                <% if assessment_form.errors[:score].any? %>
                <div class="text-danger">
                  <%= assessment_form.errors[:score].join(", ") %>
                </div>
                <% end %>
              </div>
            </td>
            <td class="align-right">
              <%= assessment_form.assessment.definition %>
            </td>
            <td class="align-right">
              <%= assessment_form.assessment.criterion %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex justify-content-start">
            <h5><%= @assessment_forms_function.first.assessment.category_point %> POINT</h5>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-flex justify-content-end">
            
            <h5>نتایج کلیدی عملکرد</h5>
          </div>
        </div>
      </div>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th scope="col" class="col-1">Weight</th>
            <th scope="col" class="col-1">Score</th>
            <th scope="col" class="col-9">Definition</th>
            <th scope="col" class="col-1">Criterion</th>
          </tr>
        </thead>
        <tbody>
          <% @assessment_forms_ksa.each do |assessment_form| %>
          <tr>
            
            <td class="align-middle">
              <div class="form-group">
                <%= number_field_tag "assessment_forms[#{assessment_form.id}][weight]", assessment_form.weight, class: "form-control", min: 1, max: 3 %>
                <% if assessment_form.errors[:weight].any? %>
                <div class="text-danger">
                  <%= assessment_form.errors[:weight].join(", ") %>
                </div>
                <% end %>
              </div>
            </td>
            <td class="align-middle">
              <div class="form-group">
                <%= number_field_tag "assessment_forms[#{assessment_form.id}][score]", assessment_form.score, class: "form-control", min: 1, max: 10 %>
                <% if assessment_form.errors[:score].any? %>
                <div class="text-danger">
                  <%= assessment_form.errors[:score].join(", ") %>
                </div>
                <% end %>
              </div>
            </td>
            <td class="align-right">
              <%= assessment_form.assessment.definition %>
            </td>
            <td class="align-right">
              <%= assessment_form.assessment.criterion %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
  <%= f.submit "Submit", class: "btn btn-success" %>
  <% end %>
</div>