<div class="col-lg-10 mx-auto mt-5">

  <h3 class="mb-4">Assessment Forms</h3>

  <div class="row">
    <% @unique_users.each do |user| %>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <% assessment_form = AssessmentForm.by_user_and_filler(user, @filler).last %>

          <% if assessment_form.present? && assessment_form.score.nil? %>
          <!-- If the score is not filled yet -->
          <p class="card-text">
            The assessment form for <%= user.name.titleize %> is not filled yet.
          </p>
          <%= link_to "Fill Assessment Form", form_assessments_path(user_id: user.id), class: "btn btn-primary" %>
          <% elsif assessment_form.present? && assessment_form.score.present? %>
          <!-- If the score is already filled -->
          <p class="card-text">
            This form has already been filled.
          </p>
          
          <% else %>
          <!-- If no assessment form exists -->
          <p class="card-text">
            No assessment form is available for <%= user.name.titleize %> yet.
          </p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="accordion" id="accordionExample">
        <% a = 1 %>
        <% @unique_users.each do |user| %>
        <% if AssessmentForm.where(user_id: user.id, filler_id: @filler.id).all? { |af| af.total_score.present? } %>

        <% assessment_forms_ksa = AssessmentForm.joins(:assessment).where(user_id: user.id, filler_id: @filler.id, assessments: { category: "دانش و مهارت و توانایی (KSA)" }) %>
        <% assessment_forms_evc = AssessmentForm.joins(:assessment).where(user_id: user.id, filler_id: @filler.id, assessments: { category: "رفتارها و کردارها (EVC)" }) %>
        <% assessment_forms_function = AssessmentForm.joins(:assessment).where(user_id: user.id, filler_id: @filler.id, assessments: { category: "نتایج کلیدی عملکرد" }) %>
        <% point_ksa = assessment_forms_ksa.first.assessment.category_point %>
        <% point_evc =  assessment_forms_evc.first.assessment.category_point %>
        <% point_function =  assessment_forms_function.first.assessment.category_point %>
        <% total_score_sum = assessment_forms_ksa.sum(&:total_score) %>
        <% count = assessment_forms_ksa.sum(&:weight) * 10 %>
        <% ksa = (point_ksa * total_score_sum) / count %>
        <% total_score_sum = assessment_forms_evc.sum(&:total_score) %>
        <% count = assessment_forms_evc.sum(&:weight) * 10 %>
        <% evc = (point_evc * total_score_sum) / count %>
        <% total_score_sum = assessment_forms_function.sum(&:total_score) %>
        <% count = assessment_forms_function.sum(&:weight) * 10 %>
        <% function = (point_function * total_score_sum) / count %>


        
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%= a%>">
            
            <button class="accordion-button collapsed d-flex justify-content-between w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= a %>" aria-expanded="false" aria-controls="collapse<%= a %>">
            <!-- Left-aligned total score -->
            <span class="text-dark"><%= user.name.titleize %></span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span class="text-primary"><%= ksa + evc + function %><span class="text-dark"> Points</span></span>

            <!-- Right-aligned user name -->
            
          </button>
          </h2>
          <div id="collapse<%= a%>" class="accordion-collapse collapse" aria-labelledby="heading<%= a%>" data-bs-parent="#accordionExample">
            <div class="accordion-body">

             <div class="card mb-5">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="d-flex justify-content-start">
                      
                      <h5> <%= point_ksa %>POINT</h5>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex justify-content-end">
                      <h5>دانش و مهارت و توانایی (KSA)</h5>
                    </div>
                  </div>
                </div>
                <table class="table table-bordered mt-3">
                  <thead>
                    <tr>
                      <th scope="col" class="col-1">Total</th>
                      <th scope="col" class="col-1">Weight</th>
                      <th scope="col" class="col-1">Performance</th>
                      <th scope="col" class="col-9">Definition</th>
                      <th scope="col" class="col-1">Criterion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% assessment_forms_ksa.each do |assessment_form| %>
                    <tr>
                      <td class="align-middle">
                          <%= assessment_form.total_score %>
                      </td>
                      <td class="align-middle">
                          <%= assessment_form.weight %>
                      </td>
                      <td class="align-middle">
                        <%= assessment_form.score %>
                      </td>
                      <td class="align-right">
                        <%= assessment_form.assessment.definition %>
                      </td>
                      <td class="align-right">
                        <%= assessment_form.assessment.criterion %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>

                <h6>Score: <%= ksa %></h6>

              </div>
            </div>
            <div class="card mb-5">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="d-flex justify-content-start">
                      
                      <h5><%= point_evc %> POINT</h5>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex justify-content-end">

                      <h5>رفتارها و کردارها (EVC)</h5>
                    </div>
                  </div>
                </div>
                <table class="table table-bordered mt-3">
                  <thead>
                    <tr>
                      <th scope="col" class="col-1">Total</th>
                      <th scope="col" class="col-1">Weight</th>
                      <th scope="col" class="col-1">Performance</th>
                      <th scope="col" class="col-9">Definition</th>
                      <th scope="col" class="col-1">Criterion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% assessment_forms_evc.each do |assessment_form| %>
                    <tr>

                      <td class="align-middle">
                          <%= assessment_form.total_score %>
                      </td>
                      <td class="align-middle">
                          <%= assessment_form.weight %>
                      </td>
                      <td class="align-middle">
                        <%= assessment_form.score %>
                      </td>
                      <td class="align-right">
                        <%= assessment_form.assessment.definition %>
                      </td>
                      <td class="align-right">
                        <%= assessment_form.assessment.criterion %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>

                <h6>Score: <%= evc %></h6>
                

              </div>
            </div>
            <div class="card mb-5">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="d-flex justify-content-start">
                      
                      <h5><%= point_function %> POINT</h5>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex justify-content-end">

                      <h5>نتایج کلیدی عملکرد</h5>
                    </div>
                  </div>
                </div>
                <table class="table table-bordered mt-3">
                  <thead>
                    <tr>
                      <th scope="col" class="col-1">Total</th>
                      <th scope="col" class="col-1">Weight</th>
                      <th scope="col" class="col-1">Performance</th>
                      <th scope="col" class="col-9">Definition</th>
                      <th scope="col" class="col-1">Criterion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% assessment_forms_function.each do |assessment_form| %>
                    <tr>

                      <td class="align-middle">
                          <%= assessment_form.total_score %>
                      </td>
                      <td class="align-middle">
                          <%= assessment_form.weight %>
                      </td>
                      <td class="align-middle">
                        <%= assessment_form.score %>
                      </td>
                      <td class="align-right">
                        <%= assessment_form.assessment.definition %>
                      </td>
                      <td class="align-right">
                        <%= assessment_form.assessment.criterion %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
                <h6>Score: <%= function %></h6>
              </div>
            </div> 


          </div>
        </div>
      </div>
      <% a += 1 %>
      <% end %>
      <% end %>



    </div>
  </div>
</div>





</div>