  <% read = message.read_by?(@user) %>
  <%= link_to message_path(message), class: "text-decoration-none d-flex flex-column h-100 w-100" do %>
  <li class="list-group-item m-2 shadow <%= read ? "bg-white" : "vacation-bg border-warning" %> border">
     <div class="row" style="margin-bottom: -7px; margin-top: -9px; margin-left: -26px;">
        <div class="col">
        <div class="d-flex justify-content-start text-danger">
            <h5 class="fw-bold"><span class="text-muted"> No.</span><%= message.id %></h5>
       </div>
   </div>
   <div class="col">
       <div class="d-flex justify-content-end text-danger">
<small class="card-title mb-2 text-muted">
         <%= message.created_at.strftime('%A %d %B') %>
     </small>       </div>
       </div>
   </div>
   <div class="row">
    <div class="col mt-1">
       <div class="d-flex justify-content-end">

          <span class="message-title-index"><%= message.sender == @user ? "You" : message.sender.name.titleize %> </span>

      </div>
  </div>
  <div class="text-center col mt-1" >
     <h4 class="text-danger"> <i class="bi bi-arrow-right-circle-fill"></i> </h4>
  </div>

<div class="col mt-1">
   <div class="d-flex justify-content-start">

      <span class="message-title-index"><%= message.receiver == @user ? "You" : message.receiver.name.titleize %> </span>

  </div>
</div>
</div>
<div class="row mt-2">
    <div class="row">
       <div class="col-10">
          <h6 class="col ms-2 fw-bold"><%= message.subject.truncate(30)%></h6>
      </div>
      <div class="col-2">
          <div class="d-flex justify-content-end">
             <span class="text-primary " style="margin-top: -2px;"><%=message.acts.count%></span> <i class="bi bi-hand-thumbs-up-fill me-1 text-primary"></i>
             <span class="text-secondary me-1" style="margin-top: -2px;"><%=message.comments.count%></span> <i class="bi bi-chat-square-dots-fill text-secondary"></i>
         </div>
     </div>
 </div>
 <p class="ms-2"><%= message.body.truncate(130)%></p>
 <div class="col-1"></div>

</div>
<% if message.observers.present? %>
<hr>
<small class="text-muted"><span class="text-primary">observers:</span> <%= message.observers.map { |observer| observer.first_name.titleize }.join(', ') %>
</small>
<% end %>
</li>
<% end %>
