  <% read = if message.sender == @user
              true
            elsif message.observers.exists?(observer: @user, message_observers: { read: true })
              true
            elsif message.receiver == @user && message.message_status.status != 'unread'
              true
            else
              false
            end %>
<%= link_to message_path(message), class: "text-decoration-none d-flex flex-column h-100 w-100" do %>
<li class="list-group-item m-2 shadow <%= read ? "bg-white" : "vacation-bg border-warning" %> border">
	<div class="row">
		<div class="col mt-1">
			<div class="d-flex justify-content-start">
				
				<span class="message-title-index"><%= message.sender == @user ? "You" : message.sender.name.titleize %> </span>

			</div>
		</div>
		<div class="col">
			<div class="text-center">
				<small class="card-title mb-2 text-muted">
                      <%= message.created_at.strftime('%A %d %B') %>
                    </small>
			</div>
		</div>
		<div class="col mt-1">
			<div class="d-flex justify-content-end">
				
				<span class="message-title-index"><%= message.receiver == @user ? "You" : message.receiver.name.titleize %> </span>

			</div>
		</div>
	</div>
	<div class="row mt-2">
		<h6 class="col ms-2 fw-bold"><%= message.subject.truncate(30)%></h6>
		<p class="ms-2"><%= message.body.truncate(130)%></p>
	</div>
	<% if message.observers.present? %>
	<hr>
	<small class="text-muted"><span class="text-primary">observers:</span> <%= message.observers.map { |observer| observer.first_name.titleize }.join(', ') %>
 </small>
	<% end %>
</li>
<% end %>
