<!-- app/views/salary_admin/index.html.erb -->
<% if current_user.is_manager %>
<div class="col-lg-10 mx-auto mt-5">

  <h2 class="mb-4">Ù…Ø¯ÛŒØ±ÛŒØª Ø­Ù‚ÙˆÙ‚ Ùˆ Ø¯Ø³ØªÙ…Ø²Ø¯</h2>

  <div class="list-group">
    <% if current_user.admin? %>
    <%= link_to "âž• Ø§ÛŒØ¬Ø§Ø¯ Ù…Ø§Ù‡ Ø´Ù…Ø³ÛŒ Ø¬Ø¯ÛŒØ¯", new_shamsi_month_path, class: "list-group-item list-group-item-action" %>
    <% end %>
    <% if @latest_month.present? %>
    <% if current_user.admin? %>
    <%= link_to "ðŸ—“ Ø§Ù†ØªØ®Ø§Ø¨ Ø±ÙˆØ²Ù‡Ø§ÛŒ ØªØ¹Ø·ÛŒÙ„ Ø¨Ø±Ø§ÛŒ Â«#{@latest_month.name}Â»", edit_day_offs_shamsi_month_path(@latest_month), class: "list-group-item list-group-item-action" %>
    <% end %>
    
    <%= link_to "Manager Review", manager_review_salary_archives_path(month_id: 1), class: "btn btn-outline-primary" %>
    

    <%= link_to "all users payroll",
    hr_review_salary_archives_path(month_id: 1),
    class: "btn btn-outline-secondary btn-sm" %>
    
    <% if current_user.accounting?%>
    <%= link_to "Accounting Review",
    accounting_review_salary_archives_path(month_id: 1),
    class: "btn btn-outline-dark btn-sm" %>
    <% end %>
    <% if current_user.hr? || current_user.admin? || current_user.board? || current_user.ceo? || current_user.procurement? || current_user.cob? || current_user.accounting? %>
    <%= link_to "ÙÛŒØ´ Ø­Ù‚ÙˆÙ‚ÛŒ Ø§ÛŒÙ† Ù…Ø§Ù‡",
    payslips_salary_archives_path(month_id: 1),
    class: "btn btn-outline-dark btn-sm" %>
    <% end %>
    <% else %>
    <div class="list-group-item text-muted">Ø§Ø¨ØªØ¯Ø§ Ø¨Ø§ÛŒØ¯ Ù…Ø§Ù‡ Ø´Ù…Ø³ÛŒ Ø¬Ø¯ÛŒØ¯ Ø¨Ø³Ø§Ø²ÛŒØ¯</div>
    <% end %>


  </div>
</div>
<% else %>
you are not premitted to be here
<% end %>