<%= form_with model: @vacation do |form| %>
<div class="modal-body">
	<div class="row">
		<% if @vacation.errors.any? %>
			<div class="error-area" style="color:red;">
				<h3><%= pluraliza(@vacation.errors.count, 'error') %> prohibited your vacation from being saved.</h3>
				<ul>
					<% @vacation.errors.each do |error|%>
						<li>
							<%= error.full_message%>
						</li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<div class="row">
				<div class="col-lg-6">
					<div class="d-flex justify-content-start">
						<h3>Vacation</h3>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="d-flex justify-content-end">
						<% if @vacation.status %>
							<h3 class="secondary"><%= @vacation.status %></h3>
						<% end %>
					</div>
				</div>
			</div>

		<div class="col-lg-12">
			<div class="form-group">
				<label class="mb-2 mt-3">
					
				</label>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<%= form.submit 'Save Changes', class: 'btn btn-primary', data: { action: 'click->bs-modal#submitEnd' } %>
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
<% end %>