

<li class="list-group-item m-2 shadow vacation-bg border border-warning" id="vacation_item_<%= vacation.id %>">
	<% if @is_managment_page %>
	<div class="row">
		<div class="col-lg-5 text-black fw-bold">
			<%= vacation.user.name.titleize %>	
		</div>
		<div class="col-lg-7">
			<%= vacation.updated_at.strftime('%A %d %B') %>			
		</div>
	</div>
	<% end %>
	<div class="row mt-2">
		<div class="col-lg-5">
			<div class="d-flex justify-content-start">
				<p class="fw-bold"><span class="text-primary"> <%= vacation.days %></span></p>
			</div>
		</div>
		<div class="col-lg-2 text-center">
			<% if vacation.confirm %>
			<i class="bi bi-check-circle text-success confirm-size"></i>
			<% else %>
			<i class="bi bi-slash-circle text-danger confirm-size"></i>
			<% end %>
		</div>
		<div class="col-lg-5">
			<div class="d-flex justify-content-end">
				<% if user_signed_in? && @user == current_user %>
				<div class="d-flex justify-content-end">
					<% if current_user == vacation.user && !vacation.confirm %>

					<%= link_to edit_vacation_path(vacation), data: { controller: "bs-modal-form" } do %>
					<i class="bi bi-pencil-fill confirm-size"></i>
					<% end %>
					<%= link_to vacation_path(vacation), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this vacation request, this action can not be undo!' } do %>
					<i class="bi bi-trash text-danger confirm-size"></i>
					<% end %>	
					<% end %>

					<% if user_signed_in? && current_user == @user && (@user.is_manager || current_user.id == 10) && !vacation.confirm %>

					<%= link_to confirm_vacation_path(vacation), data: { turbo_method: :patch, turbo_confirm: 'Are you sure you want to Confirm this vacation request, this action can not be undo!' } do %>
					<i class="bi bi-calendar2-check-fill confirm-size" style="color: green;"></i>
					<% end %>
					<% end %>

				</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div class="d-flex justify-content-start">
				<%= vacation.start_at.strftime('%A') %>
			</div>
		</div>
		<div class="col-lg-6 text-center"> to </div>
		<div class="col-lg-3">
			<div class="d-flex justify-content-end">
				<%= vacation.end_at.strftime('%A') %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div class="d-flex justify-content-start">
				<%= vacation.start_at.strftime('%d %b') %>
			</div>
		</div>
		<div class="col-lg-6 text-info text-center"> 
			<%= vacation.vacation_type %>
		</div>
		<div class="col-lg-3">
			<div class="d-flex justify-content-end">
				<%= vacation.end_at.strftime('%d %b') %>
			</div>
		</div>
	</div>
	<div class="row mt-1">
		<div class="col-lg-8">
			<div class="d-flex justify-content-start">
				<small>Details: <small class="text-secondary"><%= vacation.details %></small></small>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="d-flex justify-content-end">
				<%= vacation.hourly ? "hourly" : "daily" %>
			</div>
		</div>		
	</div>
</li>





