<div class="col-lg-10 mx-auto mt-5">
	<row class="m-2">
		<div class="col-sm">
			<table class="table">
				<thead>
					<tr>
						<th scope="col" class="col-sm-1">#</th>
						<th scope="col" class="col-sm-2">Amount</th>
						<th scope="col" class="col-sm-2">Deposited Amount</th>
						<th scope="col" class="col-sm-2">From</th>

						<th scope="col" class="col-sm-2">To</th>
						<th scope="col" class="col-sm-2">Currency</th>
						<th scope="col" class="col-sm-2">Project</th>
						<th scope="col" class="col-sm-2">Documents</th>
						<th scope="col" class="col-sm-2">Type</th>





						<th scope="col" class="col-sm-2">Status</th>
						<th scope="col" class="col-sm-2">Note</th>
						<th scope="col" class="col-sm-2">Created at</th>


						<th scope="col" style="text-align: right;" class="col-sm-3 text-right">Actions</th>

					</tr>
				</thead>
				<tbody>
					<% @swifts.order(created_at: :desc).each do |swift| %>
					<tr style="font-size: 12px;" class="<%= 
					if swift.confirmed.present?
						'table-success'
					elsif swift.rejected.present?
						'table-danger'
					else
						'table-warning'
					end

					 %>">
					<th scope="row">
						<%= swift.id %>
					</th>
					<td class="fw-bold"><%= number_with_delimiter(swift.amount, delimiter: ',') %></td>
					<td class="fw-bold"><%= number_with_delimiter(swift.deposited_amount, delimiter: ',') %></td>
					<td><%= swift.from %></td>

					<td><%= swift.bank.name %></td>
					<td><%= swift.currency %></td>
					<% if swift.ci.present? %>
					<td><%= link_to swift.ci.project.number, project_path(swift.ci.project) %></td>
					<% else %>
					<td><%= link_to swift.project.number, project_path(swift.project) %></td>
					<% end %>
					<td><% swift.documents.each do |file| %>
						<small> 
							<%= link_to file.filename, rails_blob_path(file, disposition: 'attachment') %> 
						</small>
						<% end %>
					</td>
					<td><%= swift.advance ? "Advance" : "Balance" %></td>

					<td><%= 
					if swift.confirmed.present?
						"Confirmed at #{swift.confirm_at&.strftime('%b %d')}"
					elsif swift.rejected.present?
						"Rejected at #{swift.rejected_at&.strftime('%b %d')}" 
					else
						'Wait for deposite'
					end
				%></td>
				<td>
					<% if swift.note.present? %>
				  <div class="accordion" id="accordionNote<%= swift.id %>">
				    <div class="accordion-item">
				      <h2 class="accordion-header" id="headingNote<%= swift.id %>">
				       <button class="accordion-button collapsed my-custom-accordion-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNote<%= swift.id %>" aria-expanded="false" aria-controls="collapseNote<%= swift.id %>">
						  Note
						</button>
				      </h2>
				      <div id="collapseNote<%= swift.id %>" class="accordion-collapse collapse" aria-labelledby="headingNote<%= swift.id %>" data-bs-parent="#accordionNote<%= swift.id %>">
				        <div class="accordion-body">
				          <%= swift.note %>
				        </div>
				      </div>
				    </div>
				  </div>
				  <% else %>
				  -
				  <% end %>
				</td>
				<td>
					<%= swift.created_at&.strftime('%b %d') %>
				</td>
				<td style="text-align: right;">
					<% if !swift.confirmed && !swift.rejected && current_user.accounting? %>
					<span><%= link_to edit_amount_before_confirm_swift_path(swift), data: { controller: "bs-modal-form" } do %>
							<i class="bi bi-calendar2-check-fill" style="color: green;"></i>
							<% end %></span>
					|
					<%= link_to reject_swift_path(swift), data: { turbo_method: :patch, turbo_confirm: 'Are you sure you want to reject this swift, this action can not be undo!' } do %>
					<i class="bi bi-calendar-x-fill" style="color: red;"></i>
					<% end %>
					
					<% end %>
					<% if !swift.confirmed && !swift.rejected && current_user.sales? %>
						<%= link_to edit_swift_path(swift), data: { controller: "bs-modal-form" } do %>
							<i class="bi bi-pencil-fill" style="color: red;"></i>
							<% end %>
							<%= link_to swift_path(swift), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this Swift , this action can not be undo!' } do %>
					<i class="bi bi-trash text-danger"></i>
					<% end %>
					<% end %>

					
				</td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</row>
</div>