<%= form_with(model: [@payment_order, @rial_receipt], local: true, class: "needs-validation", novalidate: true) do |f| %>
<div class="modal-content">
  <% if @rial_receipt.errors.any? %>
    <div class="error-area" style="color:red;">
      <h3><%= pluralize(@rial_receipt.errors.count, 'error') %> prohibited your receipt from being saved.</h3>
      <ul>
        <% @rial_receipt.errors.each do |error|%>
        <li>
          <%= error.full_message%>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  <div class="card mb-5">
    <div class="card-body">
      <ul class="list-group" id="payment_order_items">
        <%= render 'payment_orders/payment_order', payment_order: @payment_order %>
        
      </ul>
    </div>
  </div>


  <div class="modal-body">
    <div class="mb-3">
      <%= f.label :in_words, "مبلغ به حروف", class: "form-label fw-bold text-end d-block" %>
      <%= f.text_area :in_words, class: "form-control", rows: 1, placeholder: "Enter the amount in words..." %>
    </div>


    <div class="mb-3">
      <%= f.label :details, "بابت", class: "form-label fw-bold text-end d-block" %>
      <%= f.text_area :details, class: "form-control", rows: 3, placeholder: "Enter details (leave blank to use payment order details)", value: @rial_receipt.details || @payment_order.details %>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= f.label :receiver, "در وجه", class: "form-label fw-bold text-end d-block" %>
        <%= f.text_field :receiver, class: "form-control", placeholder: "Receiver's name", value: @rial_receipt.receiver || @payment_order.to %>
      </div>
      <div class="col-md-6">
        <%= f.label :account_number, "شماره حساب گیرنده", class: "form-label fw-bold text-end d-block" %>
        <%= f.text_field :account_number, class: "form-control", placeholder: "Account number", value: @rial_receipt.account_number || @payment_order.receiver_account %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= f.label :check_number, "شماره چک", class: "form-label fw-bold text-end d-block" %>
        <%= f.text_field :check_number, class: "form-control", placeholder: "Check number" %>
      </div>
      <div class="col-md-6">
        <%= f.label :check_bank, "بانک چک", class: "form-label fw-bold text-end d-block" %>
        <%= f.text_field :check_bank, class: "form-control", placeholder: "Bank name", value: @rial_receipt.check_bank || @payment_order.bank&.name %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= f.label :check_date, "تاریخ چک", class: "form-label fw-bold text-end d-block" %>
        <%= f.date_field :check_date, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :check_account, "حساب چک", class: "form-label fw-bold text-end d-block" %>
        <%= f.text_field :check_account, class: "form-control", placeholder: "Account related to check" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.label :founder_id, "محل تنخواه", class: "form-label" %>
        <%= f.select :founder_id, User::FOUNDERS.map { |f| [f[:name], f[:id]] }, { include_blank: "Choose a founder" }, class: "form-select" %>
      </div>
      <div class="col-md-6">
        <%= f.label :payment_date, "تاریخ پرداخت", class: "form-label fw-bold text-end d-block" %>
        <%= f.date_field :payment_date, class: "form-control" %>
      </div>
    </div>
    <div class="mb-3">
      <%= f.label :explain, "توضیحات", class: "form-label fw-bold text-end d-block" %>
      <%= f.text_area :explain, class: "form-control", rows: 3, placeholder: "enter other information" %>
    </div>
  </div>
  

  <div class="modal-footer">
    <%= f.submit 'Save Receipt', class: 'btn btn-primary', data: { action: 'click->bs-modal#submitEnd' } %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
<% end %>
