<h1>Rial Receipt</h1>
<p><strong>In Words:</strong> <%= @rial_receipt.in_words %></p>
<p><strong>Details:</strong> <%= @rial_receipt.details %></p>
<p><strong>Receiver:</strong> <%= @rial_receipt.receiver %></p>
<p><strong>Account Number:</strong> <%= @rial_receipt.account_number %></p>
<p><strong>Check Number:</strong> <%= @rial_receipt.check_number %></p>
<p><strong>Check Bank:</strong> <%= @rial_receipt.check_bank %></p>
<p><strong>Check Date:</strong> <%= @rial_receipt.check_date %></p>
<p><strong>Check Account:</strong> <%= @rial_receipt.check_account %></p>
<p><strong>From Source:</strong> <%= @rial_receipt.from_source %></p>
<p><strong>Payment Date:</strong> <%= @rial_receipt.payment_date %></p>


