<div class="container">
  <div class="card cart">
    <label class="title text-center d-block mt-2 mb-0">رسید پرداخت وجه</label>
    <div class="steps text-end">
      <div class="step">


        <div class="payments">
          <div class="details">

            <span>  <%= number_with_delimiter(@payment_order.amount, delimiter: ',') %> <small>ریال</small> </span>
            <span>:مبلغ</span>

            <span><%= @rial_receipt.in_words %> <small>ریال</small></span>
            <span>:به حروف</span>
            <span><%= @rial_receipt.details %></span>
            <span>:بابت</span>
            <span><%= @rial_receipt.receiver %></span>
            <span>:در وجه</span>
            <span><%= @rial_receipt.account_number %></span>
            <span>:شماره حساب گیرنده</span>
            <% if @payment_order.project.present? || @payment_order.ballance.present? %>
            <span><%= @payment_order.project.present? ? @payment_order.project.number : "" %> <%= @payment_order.ballance.present? ? @payment_order.ballance.number : "" %></span>
            <span>:پروژه</span>
            <% end %>
            <% if @payment_order.user.signature.attached? %>
            <span>
              <%= image_tag @payment_order.user.signature, class: "signature-image" %>
            </span>
            <% else %>
            <span><%= @payment_order.user.name %></span>
            <% end %>
            <span>:درخواست کننده <br> <%= @payment_order.user.name %> </span>



          </div>
        </div>
        <hr>
        <div class="payments">
          <% if @rial_receipt.check_number.present? %>
          <div class="details">
            <span><%= @rial_receipt.check_number %></span>
            <span>:این مبلغ طی چک به شماره</span>
            <span><%= @rial_receipt.check_bank %></span>
            <span>:از بانک</span>
            <span><%= @rial_receipt.check_account %></span>
            <span>:و از شماره حساب</span>
            <span><%= @rial_receipt.check_date&.strftime('%Y/%m/%d') %></span>
            <span>:مورخ</span>
            <span></span>
            <span>.پرداخت گردید</span>

          </div>
          <% else %>
          <div class="details">
            <span></span>
            <span>:این مبلغ طی چک به شماره</span>
            <span></span>
            <span>:از بانک</span>
            <span></span>
            <span>:و از شماره حساب</span>
            <span></span>
            <span>:مورخ</span>
            <span></span>
            <span>.پرداخت گردید</span>

          </div>
          <% end %>
          
        </div>
        <hr>
        <div>
          <div class="row">
             <div class="col">
              <p class="fw-bold">:تنخواه دار <br>
                <span>
                  <%if  User.find(@rial_receipt.founder_id).signature.attached? %>
                  <%= image_tag User.find(@rial_receipt.founder_id).signature, class: "signature-image" %>
                  <% end %>
                </span>
                
              </p>

            </div>
            <div class="col-lg-8">
              <p>مبلغ از تنخواه اینجانب   <%= User::FOUNDERS.find { |f| f[:id] == @rial_receipt.founder_id }&.dig(:name) || "Unknown" %> در تاریخ <span><%= @rial_receipt.payment_date&.strftime('%Y/%m/%d') %></span> <span>.پرداخت گردید </span>
              </p>
            </div>
           
          </div>
        </div>
        <hr>
        <div>
          <div class="row payments text-center">
            <div class="col">
              <small class="fw-bold">:واحد مالی <br>
                <span>
                  <%if  User.find(32).signature.attached? %>
                  <%= image_tag User.find(32).signature, class: "signature-image" %>
                  <% end %>
                </span>
                
              </small>

            </div>
            <div class="col">
              <small class="fw-bold">:مدیر اجرایی <br>
                <span>
                  <%if  User.find(9).signature.attached? %>
                  <%= image_tag User.find(9).signature, class: "signature-image" %>
                  <% end %>
                </span>
                
              </small>

            </div>
            <div class="col">
              <small class="fw-bold">:مدیر واحد درخواست کننده <br>
                <span>
                  <%if  @manager.signature.attached? %>
                  <%= image_tag @manager.signature, class: "signature-image" %>
                  <% end %>
                </span>

              </small>              
            </div>

          </div>
        </div>
        <hr>
        <div>
          <div class="row payments text-center">
            <div class="col">
              <small class="fw-bold">:مدیر عامل<br>
                <span>
                  <%if  User.find(19).signature.attached? %>
                  <%= image_tag User.find(19).signature, class: "signature-image" %>
                  <% end %>
                </span>
                
              </small>

            </div>
            <div class="col">
              <small class="fw-bold">:رئیس هیئت مدیره<br>
                <span>
                  <%if  User.find(20).signature.attached? %>
                  <%= image_tag User.find(20).signature, class: "signature-image" %>
                  <% end %>
                </span>
                
              </small>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card checkout">
    <div class="footer">
      <label class="price"><%= number_with_delimiter(@payment_order.amount, delimiter: ',') %> <small>ریال</small> </label>
      <button class="checkout-btn" onclick="window.print(); return false;">Print</button>

    </div>
  </div>
</div>