<%= form_with(model: [@ballance, @ballance_project], local: true) do |form| %>
<div class="modal-body">




  <div class="row">
    <% if @ballance_project.errors.any? %>
    <div class="error-area" style="color:red;">
      <h3><%= pluralize(@ballance_project.errors.count, 'error') %> prohibited your allocate from being saved.</h3>
      <ul>
        <% @ballance_project.errors.each do |error|%>
        <li>
          <%= error.full_message%>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex justify-content-start">
          <h3>inventory</h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex justify-content-end">
          <% if @ballance %>
          <h3 class="secondary"><%= @ballance.number %></h3>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-12">


      <div class="form-group">
        <label class="mb-2 mt-3">
          Project number
          <span class="text-danger">*</span>
        </label>
        <%= form.collection_select :project_id, Project.order(number: :desc), :id, :number, { prompt: 'Select PROJECT' }, { class: "form-select mt-2" } %>
      </div>
      <div class="form-group mb-2 mt-3">
        <label class="mb-2 mt-3">
          Quantity
          <span class="text-danger">*</span>
        </label>
        <%= form.number_field(:quantity) %>
      </div>
    </div>
  </div>
</div>

  <div class="modal-footer">
  <%= form.submit 'Save Allocation', class: 'btn btn-primary', data: { action: 'click->bs-modal#submitEnd' } %>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
<% end %>
