<div class="col-lg-10 mx-auto mt-5">
	<div class="row mt-4 mb-3">
				<div class="col-lg-6">
		          <div class="d-flex justify-content-start">
				<h3 class="text-uppercase">Banks</h3>
			</div>
		</div>
		<div class="col-lg-6">
		          <div class="d-flex justify-content-end">
				<%= link_to 'View Transactions', transaction_banks_path, class: 'btn btn-primary btn-lg' %>

			</div>
		</div>
		</div>
	<row class="m-2">
		<div class="col-sm">
			<% if current_user.accounting? || current_user.admin? %>
			<%= link_to new_transfer_path, data: { controller: "bs-modal-form" }, class: "btn btn-primary" do %>
			Transfer
			<% end %>
			<%= link_to new_deposit_path, data: { controller: "bs-modal-form" }, class: "btn btn-success" do %>
			Deposite
			<% end %>
			<% end %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col" class="col-sm-1">#</th>
						<th scope="col" class="col-sm-1">Name</th>
						<th scope="col" class="col-sm-1">Kind</th>
						
						<th scope="col" class="col-sm-1">Balance</th>
						<th scope="col" class="col-sm-2">Expected Balance</th>
						<th scope="col" class="col-sm-1">Currency</th>
						<th scope="col" class="col-sm-2">Last change at</th>
						



						<th scope="col" style="text-align: right;" class="col-sm-1 text-right">Actions</th>

					</tr>
				</thead>
				<tbody>
					<% @banks.order(created_at: :desc).each do |bank| %>
					<tr>
						<th scope="row">
							<%= bank.id %>
						</th>
						<td><small>	<%= bank.name %></small></td>
						<td><%= bank.kind ? "Exchange" : "Account" %></td>



						<td class="fw-bold"><span class="bg-warning"><%= number_with_delimiter(bank.account_balance, delimiter: ',')%></span> </td>
						<td class="fw-bold"><%= number_with_delimiter(bank.total_expected_balance, delimiter: ',') %></td>
						<td><%= bank.currency %></td>
						<td><%= bank.updated_at&.strftime('%b %d')  %></td>

						<td style="text-align: right;">
							<%= link_to bank_path(bank) do %>
							<i class="bi bi-eye-fill"></i>
							<% end %>


						</td>
					</tr>
					<% end %>
				</tbody>
			</table>

		</div>
	</row>
</div>