<%= form_for [@project, @booking] do |form| %>
<div class="modal-body">
	<div class="row">
		<% if @booking.errors.any? %>
		<div class="error-area" style="color:red;">
			<h3><%= pluralize(@booking.errors.count, 'error') %> prohibited your booking from being saved.</h3>
			<ul>
				<% @booking.errors.each do |error|%>
				<li>
					<%= error.full_message%>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="row">
			<div class="col-lg-6">
				<div class="d-flex justify-content-start">
					<h4>Booking</h4>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="d-flex justify-content-end">
					<% if @project.pi %>
					<small class="text-secondary">Project: <%= @project.number %></small><br>
					<small class="text-secondary">PI number: <%= @project.pi.number %></small>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="row bg-semi">
				<div class="col-lg-7">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Booking number
							<span class="text-danger">*</span>
						</label>
					<div>
						<%= @booking.number %>
					</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Quantity
							<div>
							<%= @booking.quantity %>
							</div>
						</label>
					</div>
					
				</div>
			</div>





			<div class="row bg-semi mt-3">
				<div class="col-lg">
					<div class="form-group">
						<label class="mb-2 mt-1">
							Picked up
					        <%= form.range_field :picked_up, min: 0, max: @booking.quantity, class: "form-range mt-2", id: "picked_up_range" %>
						</label>
					</div>
				</div>
				<div class="col-lg">
					<div class="form-group">
						<label class="mb-2 mt-1">
							Stuffed
							<%= form.range_field :filled, min: 0, max: @booking.quantity, class: "form-range mt-2" %>
						</label>
					</div>
				</div>
				<div class="col-lg mb-2 mt-5">
					<%= form.check_box :stuffing, class: 'form-check-input' %>
					<label class="form-check-label" for="hourly">
						Stuffing started
					</label>
				
				</div>
				
				
			</div>





		</div>
	</div>
</div>
<div class="modal-footer">
	<%= form.submit 'Save Changes', class: 'btn btn-primary', data: { action: 'click->bs-modal#submitEnd' } %>
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
<% end %>