<%= form_for [@project, @booking] do |form| %>
<div class="modal-body">
	<div class="row">
		<% if @booking.errors.any? %>
		<div class="error-area" style="color:red;">
			<h3><%= pluralize(@booking.errors.count, 'error') %> prohibited your booking from being saved.</h3>
			<ul>
				<% @booking.errors.each do |error|%>
				<li>
					<%= error.full_message%>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
	</div>
	<div class="row mb-3">
		<h5>booking no.<%= @booking.number %></h5>
		<div class="subtitle">custom clearance</div>
	</div>
	<div class="row">
		<div class="col-lg">
				<%= form.check_box :declaration, class: 'form-check-input' %>
				<label class="fw-bold form-check-label">
					Declaration
				</label>
			
		</div>
		
		<div class="col-lg">
				<%= form.check_box :tally, class: 'form-check-input' %>
				<label class="fw-bold form-check-label">
					Tally
				</label>
			
		</div>
		

		<div class="col-lg">
				<%= form.check_box :send_to_line, class: 'form-check-input' %>
				<label class="fw-bold form-check-label">
					Deliver to line
				</label>
			
		</div>

		
	</div>
</div>
<div class="modal-footer">
	<%= form.submit 'pick up or fill container', class: 'btn btn-primary', data: { action: 'click->bs-modal#submitEnd' } %>
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
<% end %>