<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <%= link_to "Desk", root_path, class: "navbar-brand", data: { turbo: false} %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in?%>
        <li class="nav-item">
          <%= link_to "Profile", member_path(current_user), class: "nav-link active" %>
        </li> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sales & Marketing
          </a>
          <ul class="dropdown-menu text-white">
           <% if current_user.sales? || current_user.logistics? %>
           <li><%= link_to "Create New Project", new_project_path, data: { controller: "bs-modal-form" }, class: "dropdown-item" %></li>
           <li><%= link_to "Upload LetterHead", new_letter_head_path, data: { controller: "bs-modal-form" }, class: "dropdown-item" %></li>
           <li><%= link_to "Create Account", new_account_path, data: { controller: "bs-modal-form" }, class: "dropdown-item" %></li>
           <% end %>
           <li>

            <%= link_to 'Projects', projects_path, class: 'dropdown-item' %>

          </li>
          <li>

            <%= link_to 'PIs', pis_path, class: 'dropdown-item' %>

          </li>
          <li>

            <%= link_to 'CIs', cis_path, class: 'dropdown-item' %>

          </li>

          
          <li class="">
            <%= link_to "Customers", customers_path, class: "dropdown-item" %>
          </li>
          <% if current_user.sales? || current_user.logistics? %>
          <% if current_user.is_manager %>
          <li>
            <%= link_to 'Banks', banks_path, class: 'dropdown-item' %>

          </li>
          <% end %>
          <li>
            <%= link_to 'Swifts', swifts_path, class: 'dropdown-item' %>
          </li>
          
          <% end %>
          <% if current_user.sales? || current_user.marketing? %>
          <li>
            <%= link_to 'Reports', reports_path, class: 'dropdown-item' %>
          </li>
          <% end %>
          <% if current_user.is_manager || current_user.is_marketing || current_user.sales? || current_user.admin? %>

          <li>
            <%= link_to 'CRM', leads_path, class: 'dropdown-item' %>
          </li>
          <% end %>
          <% if current_user.sales? && current_user.is_manager %>
          <li><%= link_to "Dashboard", "http://37.221.21.214:8585/Reports/powerbi/sales?rs:Embed=true", class: "dropdown-item", target: "_blank" %></li>
          <% end %>

        </ul>
      </li> 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Procurement
        </a>
        <ul class="dropdown-menu text-white">
          <% if current_user.procurement? || current_user.logistics? %>
          <li><%= link_to "New Inventory", new_ballance_path, data: { controller: "bs-modal-form" }, class: "dropdown-item" %></li>
          <% end %>
          <li>
            <%= link_to 'Inventories', ballances_path, class: 'dropdown-item' %>
          </li>
          <li>
            <%= link_to 'Pricing', prices_path, class: 'dropdown-item' %>
          </li>
          <% if current_user.procurement? || current_user.logistics? %>
          <li class="">
            <%= link_to "Suppliers", suppliers_path, class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to 'Reports', reports_path, class: 'dropdown-item' %>
          </li>
          <% if current_user.is_manager %>
          <li><%= link_to "Dashboard", "http://37.221.21.214:8585/Reports/powerbi/1.2.1?rs:Embed=true", class: "dropdown-item", target: "_blank" %></li>


          <% end %>
          <% end %>

        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Accounting
        </a>

        <ul class="dropdown-menu text-white">
          <% if (current_user.ceo? || current_user.accounting? || current_user.cob?) || (current_user.procurement? && current_user.is_manager)  %>
          <%= link_to 'Banks', banks_path, class: 'dropdown-item' %>
          <li>
            <%= link_to 'Swifts', swifts_path, class: 'dropdown-item' %>
          </li>
          <% end %>
          <% if current_user.accounting? && current_user.is_manager %>
          <li>
            <%= link_to 'Reports', reports_path, class: 'dropdown-item' %>
          </li>

          <li><%= link_to "Dashboard", "http://37.221.21.214:8585/Reports/powerbi/1.2.1?rs:Embed=true", class: "dropdown-item", target: "_blank" %></li>

          
          <% end %>
          <li class="">
            <%= link_to "Payment orders", payment_orders_path, class: "dropdown-item" %>
          </li> 

        </ul>
      </li> 
      <% if current_user.ceo? || current_user.admin? || current_user.cob? || current_user.id == 18 %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Manager
        </a>

        <ul class="dropdown-menu text-white">
          <li><%= link_to "Dashboard", "http://37.221.21.214:8585/Reports/powerbi/1.2.1?rs:Embed=true", class: "dropdown-item", target: "_blank" %></li>
          <li>
            <%= link_to 'Reports', reports_path, class: 'dropdown-item' %>
          </li>
        </ul>
      </li>
      <% end %>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          HR
        </a>


        <% if (current_user.is_manager) %>
        <span class="badge bg-danger" style="position: absolute; top: 0; right: 0; font-size: 9px;">
          <%= count_not_confirmed_vacations %>
        </span>
        <% end %>
        <ul class="dropdown-menu text-white">
          <li><%= link_to "Documents", documents_path, class: "dropdown-item" %></li>
          <li><%= link_to 'Experiences', experiences_path, class: 'dropdown-item' %>
          </li>
          <li><%= link_to "KPIs", kpi_lists_path, class: "dropdown-item" %></li>
          <li><%= link_to "Assessment Survay", assessments_path, class: "dropdown-item" %></li>
          <li><%= link_to "Satisfaction Survay", satisfaction_forms_path, class: "dropdown-item" %></li>
          <% if [1, 8, 17, 18, 19, 20].include?(current_user.id) %>
            <li><%= link_to "Stakeholder Survey", stakeholder_survey_forms_path, class: "dropdown-item" %></li>
          <% end %>
          <li><%= link_to "Candidates", candidates_path, class: "dropdown-item" %></li>
          <% if current_user.is_manager || current_user.id == 10 %>
          <li><%= link_to "Vacations", managment_vacations_path, class: "dropdown-item" %></li>
          <% end %>
          <% if current_user.hr? %>
          <li>
            <%= link_to 'Reports', reports_path, class: 'dropdown-item' %>
          </li>
          <% end %>
          <% if current_user.admin? || true %>
          <li>
            <%= link_to "payroll admin panel", salary_admin_path, class: 'dropdown-item' %>
          </li>
          <% end %>
        </ul>
      </li>

      <li class="nav-item dropdown">
          <%= link_to "Messages", messages_path, class: "nav-link active" %>
          <span class="badge bg-danger" style="position: absolute; top: 0; right: 0; font-size: 9px;">
          <%= unread_messages_count %>
        </span>
        </li> 


      <li class="nav-item">
        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to sign out?'}, class: "nav-link active" %>
      </li>




      <% else %>
      <li class="nav-item">
        <%= link_to "Sign in", new_user_session_path, class: "nav-link active" %>
      </li>
      <% end %>

    </ul>
    <% if user_signed_in?%>

    <ul class="navbar-nav">
      <li class="nav-item ">
       <h6 class="p-0 m-0" style="color: #ffec007a;"> <%= current_user.first_name.titleize %>
         <br><span style="font-size: 11px;">    <%= Time.now.strftime('%Y-%m-%d') %></span>
       </h6>
       
     </li>
   </ul>
   <% end %>
 </div>
</div>
</nav>