<%= form_with model: @client do |form| %>
<div class="modal-body">
	<div class="row">
		<% if @client.errors.any? %>
		<div class="error-area" style="color:red;">
			<h3><%= pluralize(@client.errors.count, 'error') %> prohibited your client from being saved.</h3>
			<ul>
				<% @client.errors.each do |error|%>
				<li>
					<%= error.full_message%>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="row">
			<div class="col-lg-6">
				<div class="d-flex justify-content-start">
					<h3>Client</h3>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="d-flex justify-content-end">
					<% if @client.status %>
					<h3 class="secondary"><%= @client.status %></h3>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-lg-12">

			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Name
							
						</label>
						<%= form.text_field :name, class: 'form-control' %>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Company
							
						</label>
						<%= form.text_field :company, class: 'form-control' %>
					</div>
				</div>
			</div>
			<div class="row bg-semi">
				<div class="col-lg-6">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Email
							
						</label>
						<%= form.text_field :email, class: 'form-control' %>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Phone
							
						</label>
						<%= form.text_field :phone, class: 'form-control' %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Country
							
						</label>
						<%= form.text_field :country, class: 'form-control' %>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label class="mb-2 mt-3">
							port
							
						</label>
						<%= form.text_field :port, class: 'form-control' %>
					</div>
				</div>
			</div>
			<div class="row bg-semi">
				<div class="col-lg-4">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Product
							
						</label>
						<%= form.text_field :product, class: 'form-control' %>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group">
						<label class="mb-2 mt-3">
							packing
							
						</label>
						<%= form.text_field :packing, class: 'form-control' %>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Quantity
							
						</label>
						<%= form.number_field :quantity, class: 'form-control' %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Preferred way to connect
							
						</label>
						<%= form.text_field :preferred_connection, class: 'form-control' %>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label class="mb-2 mt-3">
							How know us
							
						</label>
						<%= form.text_field :received_from, class: 'form-control' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<%= form.submit 'Save Changes', class: 'btn btn-primary', data: { action: 'click->bs-modal#submitEnd' } %>
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
<% end %>

