
<div class="col-lg-10 mx-auto mt-5">
	<row class="m-2">
		<%= link_to new_client_path, data: { controller: "bs-modal-form" }, class: "btn btn-primary" do %>
		Add Client
		<% end %>
		<div class="col-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col" class="col-sm-1">#</th>
						<th scope="col" class="col-sm-2">Name</th>
						<th scope="col" class="col-sm-2">Company</th>
						<th scope="col" class="col-sm-1">Email</th>
						<th scope="col" class="col-sm-1">Phone</th>
						<th scope="col" class="col-sm-1">Port/Country</th>
						<th scope="col" class="col-sm-1">Product</th>
						<th scope="col" class="col-sm-1">Packing</th>
						<th scope="col" class="col-sm-1">Quantity</th>
						<th scope="col" class="col-sm-1">Connection</th>
						<th scope="col" class="col-sm-1">Source</th>
						<th scope="col" class="col-sm-1">Status</th>
						<th scope="col" class="col-sm-1">Follower</th>
						<th scope="col" class="col-sm-1">Last Comment</th>

						


					</tr>
				</thead>
				<tbody>
					<% @clients.order(created_at: :desc).each do |client| %>
					<tr>
						<th scope="row">
							<%= link_to client.id, client_path(client),class: 'link-nodecor-po text-danger' %>
						</th>
						<td><%= client.name %></td>
						<td><%= client.company %></td>
						<td><%= client.email %></td>
						<td><%= client.phone %></td>
						<td><%= client.port %>/<%= client.country %></td>
						<td><%= client.product %></td>
						<td><%= client.packing %></td>
						<td><%= client.quantity %></td>
						<td><%= client.preferred_connection %></td>
						<td><%= client.received_from %></td>
						<td><%= client.status %></td>
						<td><%= client.follower %></td>
						<td><%= client.comments.present? ? "#{client.comments.last.user.first_name} #{time_ago_in_words(client.comments.last.updated_at)} ago" : "-" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>

		</div>
	</row>
</div>