






<div class="row mt-1">
  <div class="col-12 col-lg-6">
    <div class="card-body pt-0">
      <div class="card-title pb-1">
        <small class="timeline-small fw-bold">Quantity Base on PI</small> 
      </div>
      <canvas id="piQuantityChart" width="800" height="400"> </canvas>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card-body pt-0">
      <div class="card-title pb-1">
        <small class="timeline-small fw-bold">Net weight Base on CI</small> 
      </div>
      <canvas id="ciNetWeightChart" width="800" height="400"> </canvas>
    </div>
  </div>
  
</div>



<script>
  document.addEventListener("DOMContentLoaded", function () {
    var ctx = document.getElementById("piQuantityChart").getContext("2d");
    new Chart(ctx, {
      type: "bar",
      data: {
        labels: <%= @total_pi_quantity_by_month.map { |data| data[:month] }.to_json.html_safe %>,
        datasets: [{
          label: "Total Quantity",
          data: <%= @totals_pi_quantity.to_json.html_safe %>,
          backgroundColor: <%= raw @colors.to_json %>, // Array of background colors
          borderColor: <%= raw @colors.map { |color| color.gsub('0.6', '1') }.to_json %>, // Darker border colors
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: false,
              text: 'Quantity Base on PI'
            }
          },
          x: {
            title: {
              display: false,
              text: 'Month'
            }
          }
        },
        plugins: {
          tooltip: {
            callbacks: {
              label: function(context) {
                return 'Total: ' + context.parsed.y.toLocaleString() + ' MT';
              }
            }
          },
          legend: {
            display: false // Hide the legend since it's redundant
          }
        }
      }
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var ctx = document.getElementById("ciNetWeightChart").getContext("2d");
    new Chart(ctx, {
      type: "bar",
      data: {
        labels: <%= @total_ci_net_weight_by_month.map { |data| data[:month] }.to_json.html_safe %>,
        datasets: [{
          label: "Total Net Weight",
          data: <%= @totals_ci_net_weight.to_json.html_safe %>,
          backgroundColor: <%= raw @colors.to_json %>, // Array of background colors
          borderColor: <%= raw @colors.map { |color| color.gsub('0.6', '1') }.to_json %>, // Darker border colors
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: false,
              text: 'Net Weight Base on CI'
            }
          },
          x: {
            title: {
              display: false,
              text: 'Month'
            }
          }
        },
        plugins: {
          tooltip: {
            callbacks: {
              label: function(context) {
                return 'Total: ' + context.parsed.y.toLocaleString() + ' MT';
              }
            }
          },
          legend: {
            display: false // Hide the legend since it's redundant
          }
        }
      }
    });
  });
</script>

