<div class="row mt-1">
  <div class="col-12 col-lg-6">
    <div class="card-body pt-0">
      <div class="card-title pb-1">
        <small class="timeline-small fw-bold">Total Swifts (dirham)</small> 
      </div>
      <canvas id="swiftAmountChart" width="800" height="400"> </canvas>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card-body pt-0">
      <div class="card-title pb-3">
        <small class="timeline-small fw-bold">latest Swifts</small> 
      </div>
      <table class="table table-primary table-striped table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"><small>Project</small></th>
            <th scope="col"><small>From</small></th>
            <th scope="col"><small>Amount</small></th>
            <th scope="col"><small>Type</small></th>
          </tr>
        </thead>
        <tbody>
          <% @latest_swifts.each do |swift| %>
          <tr>
            <th scope="row"><small><%= swift.id %></small></th>
            <% if swift.ci.present? %>
            <td><small><%= link_to swift.ci.project.number, project_path(swift.ci.project), class: 'link-nodecor-po' %></small></td>
            <% else %>
            <td><small><%= link_to swift.project.number, project_path(swift.project), class: 'link-nodecor-po' %></small></td>
            <% end %>
            <td><small><%= truncate(swift.from, length: 20) %></small></td>
            <td>
              <small><%= number_with_delimiter(swift.amount, delimiter: ',') %> <span class="timeline-small"><%= swift.currency %></span></small>
            </td>
            <td>
              <small><%= swift.advance ? "Advance" : "Balance" %></small>
            </td>

          </tr>
          <% end %>
          
          
        </tbody>

      </table>
    </div>
  </div>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('swiftAmountChart').getContext('2d');
    var swiftAmountChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: <%= raw @months.to_json %>, // Array of month names without year
        datasets: [{
          label: 'Total Swifts Amount (Dirham)',
          data: <%= raw @totals_swifts.to_json %>,  // Array of total CI amounts
          backgroundColor: <%= raw @colors.to_json %>, // Array of background colors
          borderColor: <%= raw @colors.map { |color| color.gsub('0.6', '1') }.to_json %>, // Darker border colors
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: false,
              text: 'Swifts in dirham'
            }
          },
          x: {
            title: {
              display: false,
              text: 'Month'
            }
          }
        },
        plugins: {
          tooltip: {
            callbacks: {
              label: function(context) {
                return 'Total: ' + context.parsed.y.toLocaleString() + ' dirham';
              }
            }
          },
          legend: {
            display: false // Hide the legend since it's redundant
          }
        }
      }
    });
  });
</script>