<div class="col-lg-10 mx-auto mt-3">
	<%= render 'home/vacation' %>
	<div class="card mt-3" style="background-color: floralwhite !important; border-color: papayawhip !important;">
		<%= render 'home/paid_pos' %>
		<hr class="timeline-small me-3 ms-3">
		<%= render 'home/pos_transactions' %>
		<hr class="timeline-small me-3 ms-3">
		<%= render 'home/banks' %>
	</div>
	<div class="card mt-3" style="background-color: floralwhite !important; border-color: papayawhip !important;">
		<%= render 'home/pis' %>
		<hr class="timeline-small me-3 ms-3">
		<%= render 'home/cis' %>
		<hr class="timeline-small me-3 ms-3">
		<%= render 'home/swifts' %>

	</div>

</div>



<canvas id="rialAmountChart" width="800" height="400"> </canvas>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('rialAmountChart').getContext('2d');
    var rialAmountChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: <%= raw @months.to_json %>, // Array of month names without year
        datasets: [{
          label: 'Total Swifts Amount (Dirham)',
          data: <%= raw @total_payments_var_rial.to_json %>,  // Array of total CI amounts
          backgroundColor: <%= raw @colors.to_json %>, // Array of background colors
          borderColor: <%= raw @colors.map { |color| color.gsub('0.6', '1') }.to_json %>, // Darker border colors
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: false,
              text: 'PO in rial'
            }
          },
          x: {
            title: {
              display: false,
              text: 'Month'
            }
          }
        },
        plugins: {
          tooltip: {
            callbacks: {
              label: function(context) {
                return 'Total: ' + context.parsed.y.toLocaleString() + ' rial';
              }
            }
          },
          legend: {
            display: false // Hide the legend since it's redundant
          }
        }
      }
    });
  });
</script>



<canvas id="dirhamAmountChart" width="800" height="400"> </canvas>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('dirhamAmountChart').getContext('2d');
    var dirhamAmountChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: <%= raw @months.to_json %>, // Array of month names without year
        datasets: [{
          label: 'Total Swifts Amount (Dirham)',
          data: <%= raw @total_payments_var_dirham.to_json %>,  // Array of total CI amounts
          backgroundColor: <%= raw @colors.to_json %>, // Array of background colors
          borderColor: <%= raw @colors.map { |color| color.gsub('0.6', '1') }.to_json %>, // Darker border colors
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: false,
              text: 'PO in rial'
            }
          },
          x: {
            title: {
              display: false,
              text: 'Month'
            }
          }
        },
        plugins: {
          tooltip: {
            callbacks: {
              label: function(context) {
                return 'Total: ' + context.parsed.y.toLocaleString() + ' dirham';
              }
            }
          },
          legend: {
            display: false // Hide the legend since it's redundant
          }
        }
      }
    });
  });
</script>



<canvas id="dollarAmountChart" width="800" height="400"> </canvas>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('dollarAmountChart').getContext('2d');
    var dollarAmountChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: <%= raw @months.to_json %>, // Array of month names without year
        datasets: [{
          label: 'Total Swifts Amount (Dirham)',
          data: <%= raw @total_payments_var_dollar.to_json %>,  // Array of total CI amounts
          backgroundColor: <%= raw @colors.to_json %>, // Array of background colors
          borderColor: <%= raw @colors.map { |color| color.gsub('0.6', '1') }.to_json %>, // Darker border colors
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: false,
              text: 'PO in rial'
            }
          },
          x: {
            title: {
              display: false,
              text: 'Month'
            }
          }
        },
        plugins: {
          tooltip: {
            callbacks: {
              label: function(context) {
                return 'Total: ' + context.parsed.y.toLocaleString() + ' dollar';
              }
            }
          },
          legend: {
            display: false // Hide the legend since it's redundant
          }
        }
      }
    });
  });
</script>