<div class="col-lg-10 mx-auto mt-1">
	<%= render 'home/vacation' %>
	<div class="card mt-3" style="background-color: floralwhite !important; border-color: papayawhip !important;">
		<%= render 'home/paid_pos' %>
		<hr class="timeline-small me-3 ms-3">
		<%= render 'home/pos_transactions' %>
		<hr class="timeline-small me-3 ms-3">
		<%= render 'home/banks' %>
	</div>
</div>

</div>

<div class="container mt-4">
  <h2>Total PI Amount Over the Last 12 Months</h2>
  <canvas id="piAmountChart" width="800" height="400"></canvas>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('piAmountChart').getContext('2d');
    var piAmountChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: <%= raw @months.to_json %>, // Array of month names
        datasets: [{
          label: 'Total PI Amount (Rial)',
          data: <%= raw @totals.to_json %>,  // Array of total PI amounts
          backgroundColor: <%= raw @colors.to_json %>, // Array of background colors
          borderColor: <%= raw @colors.map { |color| color.gsub('0.6', '1') }.to_json %>, // Darker border colors
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: 'Amount in Rial'
            }
          },
          x: {
            title: {
              display: true,
              text: 'Month'
            }
          }
        },
        plugins: {
          tooltip: {
            callbacks: {
              label: function(context) {
                return 'Total: ' + context.parsed.y.toLocaleString() + ' Rial';
              }
            }
          },
          legend: {
            display: false // Hide the legend since it's redundant
          }
        }
      }
    });
  });
</script>

