<div class="col-lg-10 mx-auto mt-1">
	<%= render 'home/vacation' %>
	<div class="card mt-3" style="background-color: floralwhite !important; border-color: papayawhip !important;">
		<%= render 'home/paid_pos' %>
		<hr class="timeline-small me-3 ms-3">
		<%= render 'home/pos_transactions' %>
		<hr class="timeline-small me-3 ms-3">
		<%= render 'home/banks' %>
	</div>
	<div class="card mt-3" style="background-color: floralwhite !important; border-color: papayawhip !important;">
		<%= render 'home/pis' %>
		<hr class="timeline-small me-3 ms-3">
		<%= render 'home/cis' %>
	</div>

</div>