<div class="col-lg-10 mx-auto mt-1">
	<%= render 'home/vacation' %>
	<div class="card mt-3" style="background-color: floralwhite !important; border-color: papayawhip !important;">
		<%= render 'home/paid_pos' %>
		<div class="row mt-1">
			<div class="col-12 col-lg-6">
				
				<div class="card-body pt-0">
					<div class="card-title pb-1">
						<small class="timeline-small">latest Payment Orders</small> 
					</div>
					<table class="table table-success table-striped table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col"><small>Amount</small></th>
								<th scope="col"><small>Details</small></th>
							</tr>
						</thead>
						<tbody>
							<% @latest_payment_orders.each do |payment_order| %>
							<tr>
								<th scope="row"><small><%= link_to "#{payment_order.id}", payment_order_path(payment_order), class: 'link-nodecor-po' %></small></th>
								<td><span class="fw-bold"><%= number_with_delimiter(payment_order.amount, delimiter: ',') %></span>
									<small class="timeline-small"><%= payment_order.currency %></small>
								</td>
								<td><small title="<%= payment_order.details %>"><%= truncate(payment_order.details, length: 40) %></small></td>
							</tr>
							<% end %>
							
							
						</tbody>

					</table>
				</div>


			</div>
			<div class="col-12 col-lg-6">
				
				<div class="card-body pt-0">
					<div class="card-title pb-1">
						<small class="timeline-small">latest Transactions</small> 
					</div>
					<table class="table table-success table-striped table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col"><small>Bank</small></th>
								
								<th scope="col"><small>Type</small></th>
								<th scope="col"><small>Amount</small></th>
								<th scope="col"><small>Date</small></th>
							</tr>
						</thead>
						<tbody>
							<% @transactions.each do |transaction| %>
							<tr>
								<th scope="row"><small><%= transaction.id %></small></th>
								<td><small><%= transaction.bank.name %></small> </td>
								
								<td><small><% if transaction.transactionable_type == "PaymentOrder" %>
									<%= link_to "P.O #{transaction.transactionable_id}", payment_order_path(transaction.transactionable_id), class: 'link-nodecor-po' %>
									<% else %>
									<%= transaction.transactionable_type %> <%= transaction.transactionable_id %>
									<% end %></small> </td>
									<td><small class="fw-bold <%= transaction.deposit_amount.present? ? 'text-success' : 'text-danger' %>">
										<%= transaction.deposit_amount.present? ? number_with_delimiter(transaction.deposit_amount, delimiter: ',') : number_with_delimiter(transaction.withdrawal_amount, delimiter: ',') %>
									</small> </td>
									<td> <small> <%= (transaction.created_at + 3.5.hours).strftime("%Y-%m-%d %H:%M") %></small></td>
								</tr>
								<% end %>	
							</tbody>

						</table>
					</div>


				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-6">

					<div class="card-body pt-0">
						<div class="card-title pb-1">
							<small class="timeline-small">Banks</small> 
						</div>
						<table class="table table-secondary table-striped table-hover">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Name</th>
									<th scope="col">Balance</th>
									<th scope="col">Expected</th>
									<th scope="col">Currency</th>
								</tr>
							</thead>
							<tbody>
								<% @banks[0...(@banks.size / 2)].each do |bank| %>
								<tr>
									<th scope="row"><small><%= link_to "#{bank.id}", bank_path(bank), class: 'link-nodecor-po' %></small></th>
									<td><small><%= bank.name %></small></td>
									<td><small class="fw-bold"><%= number_with_delimiter(bank.account_balance, delimiter: ',')%></small></td>
									<td><small><%= number_with_delimiter(bank.total_expected_balance, delimiter: ',') %></small></td>
									<td><small><%= bank.currency %></small></td>
								</tr>
								<% end %>
								

							</tbody>

						</table>
					</div>


				</div>
				<div class="col-12 col-lg-6">

					<div class="card-body pt-0">
						<div class="card-title pb-1">
							<small class="timeline-small">Banks</small> 
						</div>
						<table class="table table-secondary table-striped table-hover">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Name</th>
									<th scope="col">Balance</th>
									<th scope="col">Expected</th>
									<th scope="col">Currency</th>
								</tr>
							</thead>
							<tbody>
								<% @banks[(@banks.size / 2)..-1].each do |bank| %>
								<tr>
									<th scope="row"><small><%= link_to "#{bank.id}", bank_path(bank), class: 'link-nodecor-po' %></small></th>
									<td><small><%= bank.name %></small></td>
									<td><small class="fw-bold"><%= number_with_delimiter(bank.account_balance, delimiter: ',')%></small></td>
									<td><small><%= number_with_delimiter(bank.total_expected_balance, delimiter: ',') %></small></td>
									<td><small><%= bank.currency %></small></td>
								</tr>
								<% end %>
								

							</tbody>

						</table>
					</div>


				</div>
			</div>
		</div>
	</div>

</div>