<div class="col-lg-10 mx-auto mt-5">


	<div class="card mt-4 mb-4">
		<div class="card-body">
			<h3 class="text-center mb-3">Search inside empolees</h3>
			<%= search_form_for @q, url: root_path do |form| %>
			
			<div class="input-group mb-3">
				<%= form.search_field :first_name_or_last_name_cont, class: "form-control", placeholder: "Search by firstname o lastname", area: { label: "Search by firstname o lastname", describedby: "button-addon2" } %>
				<%= form.submit "Search", class: "btn btn-primary", id: "button-addon2" %>
			</div>
			<% end %>
		</div>
	</div>

	<% if current_user.ceo? || current_user.admin? %>
	<div class="row mt-4 mb-4">
<%= paginate @users, remote: true %>

		<% @users.each do |user| %>
			<div class="col-lg-3 mb-3 mt-3">
				<div class="card text-center shadow">
					<div class="card-body">
						<%= image_tag 'dmu1.jpeg', style: "width: 150px; border-radius: 50%; border: 2px solid #0d6efd !important;", class: 'mb-3' %>
					</div>
					<div class="user-info" data-controller="user-name">
						<h5 data-user-name-target='name' data-action="click->user-name#getUserName"><%= user.name %></h5>
						<p class="lead"><%= user.profile_title%></p>
						<small class="text-primary">Present</small><br>

						<%= link_to "View Profile", member_path(user), class: 'btn btn-primary mt-3 mb-3' %>
						<br>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<% end %>
</div>

		<% if @allocations %>
	      <table class="table table-primary table-striped table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"><small>Project</small></th>
            <th scope="col"><small>inventory</small></th>
            <th scope="col"><small>Quantity</small></th>
          </tr>
        </thead>
        <tbody>
			<% @allocations.each do |allocate| %>
          <tr>
            <th scope="row"><small><%= allocate.id %></small></th>
            <td>
              <small>
                <%= link_to("#{allocate.project.number}", project_path(allocate.project_id), class: 'link-nodecor-po')  %>
              </small>
            </td>
            <td>
              <small>
                <%= link_to("#{allocate.ballance.number}", ballance_path(allocate.ballance_id), class: 'link-nodecor-po')  %>
              </small>
            </td>
            <td>
              <small>
              	<%= allocate.quantity %>
              </small>
            </td>

          </tr>
          <% end %>
          
          
        </tbody>

      </table>
      <% end %>

