<h2>Add Results for Target: <%= @target.name %></h2>

<%= form_with model: @result, url: kpi_list_results_path(@kpi_list, target_id: @target.id), local: true do |f| %>
  <div class="mb-3">
    <%= f.label :description, "Result Description" %>
    <%= f.text_area :description, class: "form-control", rows: 3 %>
  </div>

  <%= f.submit "Save Result", class: "btn btn-primary" %>
<% end %>


<%= link_to 'Next Target', new_kpi_list_result_path(@kpi_list, target_id: @next_target_id), class: "btn btn-secondary" %>
