
<div class="card h-100 w-100 border-0 shadow mb-2">
  <div class="card-body d-flex flex-column">
    <div class="row mt-2">
      <div class="col">
        
            <div class="row d-flex justify-content-between">
              <div class="col-auto">
                <h6 class="fw-bold timeline-small">
                  Swifts 
                </h6>
              </div>
            </div>
            <div class="row timeline-small mt-3">
              <div class="col">Swift</div>
              <div class="col">Amount</div>
              <div class="col">Confirmed</div>
              <div class="col"></div>
            </div>
            <hr>
            <% project.total_swifts.each do |swift| %>
            <div class="row border-bottom">
              <div class="col">
                <small class="timeline-small">
                  <% swift.documents.each do |document| %>
                  <i class="bi bi-file-earmark-pdf-fill"></i>
                  <%= link_to ".PDF", rails_blob_path(document, disposition: "attachment"), class: "text-secondary", target: "_blank" %>
                  <% end %>
                </small>
              </div>
              <div class="col"><small class="text-warning"><%= number_with_delimiter(swift.amount.to_i, delimiter: ',') %></small></div>
              <div class="col"><small class="text-success"><%= swift.confirmed.present? ? swift.confirm_at.strftime('%Y-%m-%d') : "-" %></small></div>
              <div class="col"><small class="text-secondary"><%= swift.advance ? "advance" : "balance" %></small></div>
            </div>

            <% end %>
            <% if @swifts.second %>
            <hr>
            <div class="row d-flex justify-content-between">
              <div class="col-auto">

              </div>
              <div class="col-auto">
                <div class="mt-2">
                    
                    <span class="fw-bold"><%= number_with_delimiter(project.total_swifts_amount.to_i, delimiter: ',') %></span>
                    <small class="text-success" style="font-size: 10px;">dirham</small>
                  </div>
              </div>
            </div>
            <% end %>
            
        </div>
        
      </div>
    </div>
  </div>
