
<div class="card h-100 w-100 border-0 shadow mb-2">
  <div class="card-body d-flex flex-column">
    <div class="row mt-2">
      <div class="col">
        
            <div class="row d-flex justify-content-between">
              <div class="col-auto">
                <h6 class="fw-bold timeline-small">
                  Swifts 
                </h6>
              </div>
            </div>
            <div class="row timeline-small mt-3">
              <div class="col">Amount</div>
              <div class="col">Currency</div>
              <div class="col">Confirmed</div>
              <div class="col"></div>
            </div>
            <hr>
            <% project.total_swifts.each do |swift| %>
            <div class="row border-bottom">
              <div class="col"><small class="text-muted fw-bold"><%= number_with_delimiter(swift.amount.to_i, delimiter: ',') %></small></div>
              <div class="col">
                <small class="timeline-small">
                  <%= swift.currency %>
                </small>
              </div>
              <div class="col"><small class="text-success"><%= swift.confirmed.present? ? swift.confirm_at.strftime('%Y-%m-%d') : "-" %></small></div>
              <div class="col"><small class="text-secondary"><%= swift.advance ? "advance" : "balance" %></small></div>
            </div>

            <% end %>
            <% if @swifts.second %>
            <hr>
            <div class="row d-flex justify-content-between text-center">
              <div class="col-auto">
                <div class="">
                    <small class="timeline-small border-bottom"> total balance</small><br>
                    <small class="fw-bold"><%= number_with_delimiter(project.total_balance_swifts.to_i, delimiter: ',') %></small>
                    <small class="text-success" style="font-size: 10px;">dirham</small>
                </div>
              </div>
              <div class="col-auto">
                <div class="">
                    <small class="timeline-small border-bottom"> total swifts </small><br>
                    <small class="fw-bold"><%= number_with_delimiter(project.total_swifts_amount.to_i, delimiter: ',') %></small>
                    <small class="text-success" style="font-size: 10px;">dirham</small>
                  </div>
              </div>
            </div>
            <% end %>
            
        </div>
        
      </div>
    </div>
  </div>
