<div class="col-lg-10 mx-auto mt-5">
	<div class="card mb-5">
		<div class="card-body">
			<%= link_to "Back to all customers", customers_path %>
			<ul class="list-group mt-1 mb-5" id="customer_items">
				<%= render 'customers/customer', customer: @customer %>
			</ul>
		</div>
	</div>
	<div class="card mt-5 mb-5">
		<% @customer.pis.each do |pi| %>
			<% if pi.project %>
				<div class="card mb-2">
					<div class="row">
						<div class="col-12 col-md-4 mb-2 d-flex align-items-stretch">
							<%= render 'projects/project', project: pi.project, bookings: pi.project.bookings, title: "PROJECT" %>
						</div>
						<div class="col-12 col-md-4 mb-2 d-flex align-items-stretch">
							<%= render 'customers/project_swifts', pi: pi, project: pi.project %>
						</div>
						<div class="col-12 col-md-4 mb-2 d-flex align-items-stretch">
							<%= render 'customers/project_cis', pi: pi, cis: pi.cis %>
						</div>
					</div>
				</div>
			<% else %>
				
			<% end %>
		<% end %>
	</div>
</div>
