<div class="col-lg-10 mx-auto mt-5">
	<div class="card mb-5">
		<div class="card-body">
			<ul class="list-group mt-5 mb-5" id="customer_items">
				<%= render 'customers/customer', customer: @customer %>
			</ul>
		</div>
	</div>

	<hr>
	total_swift : <%= @customer.total_swift %> <hr>
	balance_swifts: <br>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Amount</th>
				<th scope="col">Deposited</th>
				<th scope="col">currency</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			<% @customer.balance_swifts.each do |swift| %>


				<tr>
					<th scope="row"><%= swift.id %></th>
					<td><%= number_with_delimiter(swift.amount, delimiter: ',') %></td>
					<td><%= number_with_delimiter(swift.deposited_amount, delimiter: ',') %></td>
					<td><%= swift.currency %></td>
					<td><%= 
					if swift.confirmed.present?
						"Confirmed at #{swift.confirm_at&.strftime('%b %d')}"
					elsif swift.rejected.present?
						"Rejected at #{swift.rejected_at&.strftime('%b %d')}" 
					else
						'Wait for deposite'
					end
				%></td>
				</tr>
			

			<% end %>
		</tbody>
	</table>
	<hr>
	sum_balance_swifts: <%= @customer.sum_balance_swifts %>
	<hr>
		advance swift: <br>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Amount</th>
				<th scope="col">Deposited</th>
				<th scope="col">currency</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			<% @customer.advance_swifts.each do |swift| %>


				<tr>
					<th scope="row"><%= swift.id %></th>
					<td><%= number_with_delimiter(swift.amount, delimiter: ',') %></td>
					<td><%= number_with_delimiter(swift.deposited_amount, delimiter: ',') %></td>
					<td><%= swift.currency %></td>
					<td><%= 
					if swift.confirmed.present?
						"Confirmed at #{swift.confirm_at&.strftime('%b %d')}"
					elsif swift.rejected.present?
						"Rejected at #{swift.rejected_at&.strftime('%b %d')}" 
					else
						'Wait for deposite'
					end
				%></td>
				</tr>
			

			<% end %>
		</tbody>
	</table>
	<hr>
	sum_balance_swifts: <%= @customer.sum_of_swifts_with_advance %>
	<hr>

	sum of cis: <%= @customer.sum_of_cis %>
<br>
	<h5>CIs</h5>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">balance amount</th>
				<th scope="col">project</th>
				<th scope="col">pi</th>
			</tr>
		</thead>
		<tbody>
	<% pis_with_currency = @customer.pis.includes(:cis).where.not(cis: { id: nil }) %>

	<% pis_with_currency.each do |pi| %>
		<% pi.cis.each do |ci| %>
		<tr>
			<th scope="row"><%= ci.number %></th>
			<th scope="row"><%= ci.balance_payment %></th>
			<th scope="row"><%= pi.project.number %></th>
			<th scope="row"><%= pi.number %></th>
		</tr>
		<% end %>
	<% end %>
</tbody>
</table>

	<hr>
	projects
	<% @customer.pis.each do |pi|%>
		<%= link_to pi.project.number, project_path(pi.project) %>
	<% end %>


</div>