<div class="col-lg-10 mx-auto mt-5">

<h4 class="mb-4">KPI <%= @year %></h4>


              <div class="card shadow-sm mb-4 border-0">
                <div class="card-header bg-light d-flex justify-content-between align-items-center">
                  <h5 class="mb-0"><i class="bi bi-flag"></i> Department: <%= @kpi_list.department.titleize %></h5>

                 

                </div>

                <div class="card-body">
                  <% @kpi_list.targets.each_with_index do |target, t_index| %>
                    <div class="table-responsive mb-5">
                      <table class="table table-bordered align-middle">
                        <thead class="table-primary">
                          <tr>
                            <th colspan="2">
                              <i class="bi bi-bullseye me-2"></i>
                              <small class="text-muted" dir="rtl"><%= target.description %></small>
                            </th>
                          </tr>
                          <% if target.results.any? %>
                            <tr class="table-light">
                              <th style="width: 60%">Result</th>
                              <th style="width: 40%">Measurable KPI</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% target.results.each_with_index do |result, r_index| %>
                            <tr>
                              <td class="text-end">
                                <div class="text-muted mt-1" dir="rtl"><%= result.description %></div>
                              </td>
                              <td class="text-end">
                                <% if result.kpi.present? %>
                                  <span class="text-muted" dir="rtl"><%= result.kpi.comment %></span>
                                <% else %>
                                  <span class="text-danger"><i class="bi bi-exclamation-circle me-1"></i>No KPI provided</span>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                        <% else %>
                          </thead>
                        <% end %>
                      </table>
                    </div>
                  <% end %>
                </div>
              </div>

<h4>Fill Quarterly Evaluation for <%= @year %></h4>
<%= render 'form' %>
</div>