<div class="col-lg-10 mx-auto mt-5">

<% if current_user.is_manager && (current_user.hr? || current_user.ceo? || current_user.cob? || current_user.admin? || current_user.procurement?) %>
  <div class="accordion mt-5" id="satisfactionResultsAccordion">
    <% @grouped_satisfactions.each_with_index do |((year, period), satisfactions), index| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-<%= index %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= index %>" aria-expanded="false" aria-controls="collapse-<%= index %>">
            Year: <%= year %>, Period: <%= period %>
          </button>
        </h2>
        <div id="collapse-<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= index %>" data-bs-parent="#satisfactionResultsAccordion">
          <div class="accordion-body">

            <p>
              Users who filled the form:
              <% (@users_per_group[[year, period]] || []).each do |user| %>
                <small class="text-primary">
                  <%= user.name.titleize %> <span class="text-muted"> | </span>
                </small>
              <% end %>
            </p>

            <div class="table-responsive">
              <table class="table table-bordered align-middle table-sm table-striped table-hover">
                <thead class="table-dark">
                  <tr>
                    <th class="text-center">کاملا مخالفم</th>
                    <th class="text-center">مخالفم</th>
                    <th class="text-center">تا حدودی مخالفم</th>
                    <th class="text-center">تا حدودی موافقم</th>
                    <th class="text-center">موافقم</th>
                    <th class="text-center">کاملا موافقم</th>
                    <th class="text-end">Question</th>
                    <th class="text-center">Category</th>
                  </tr>
                </thead>
                <tbody>
                  <% current_category = nil %>
                  <% color_toggle = true %>

                  <% satisfactions.each do |satisfaction| %>
                    <tr>
                      <% (1..6).to_a.reverse.each do |answer_value| %>
                        <td class="text-center">
                          <% users_with_answer = satisfaction.satisfaction_forms.select { |sf| sf.answer == answer_value } %>
                          <% user_count = users_with_answer.count %>

                          <% if user_count > 0 %>
                            <% if current_user.admin? || current_user.id == 8 %>
                              <span title="<%= users_with_answer.map { |sf| sf.user.first_name.titleize }.join(', ') %>">
                                <%= user_count %>
                              </span>
                            <% else %>
                              <%= user_count %>
                            <% end %>
                          <% else %>
                            0
                          <% end %>
                        </td>
                      <% end %>

                      <td class="text-end"><%= satisfaction.question %></td>

                      <% if current_category != satisfaction.category %>
                        <td class="text-center <%= color_toggle ? 'table-warning' : 'table-secondary' %>" 
                            rowspan="<%= satisfactions.count { |s| s.category == satisfaction.category } %>">
                          <%= satisfaction.category %>
                        </td>
                        <% current_category = satisfaction.category %>
                        <% color_toggle = !color_toggle %>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'Back to Dashboard', root_path, class: 'btn btn-secondary mt-4' %>
<% end %>
</div>
