	<% if @project.swifts.present? %>
	
	<div class="card border-0 shadow">
		<div class="card-body p-xl-4">
			<h2 class="card-title mb-2 text-success">Advance Payment Received</h2>
			<div class="row d-flex justify-content-between">
				<div class="col-auto">
					<h6 class="card-subtitle text-secondary mb-3">
					</h6>
				</div>
				<div class="col-auto" style="margin-top: -6px;">
					<small class="text-success">
					</small>
				</div>
			</div>
			<% @advance_swifts.each do |swift| %>
			<div class="row d-flex justify-content-between">
				<div class="col-auto">
					<h6 class="card-subtitle text-secondary mb-3">
						<% swift.documents.each do |document| %>
						<div class="col-12 mb-2">
							<i class="bi bi-file-earmark-pdf-fill"></i>
							<%= link_to "swift/#{@project.pi.number}/#{swift.id}.PDF", rails_blob_path(document, disposition: "attachment"), class: "text-secondary", target: "_blank" %>
						</div>
						<% end %>
					</h6>
				</div>
				<div class="col-auto" style="margin-top: -6px;">
					<small class="text-success">
						<%= swift.updated_at.strftime('%B %d') %>
					</small>
				</div>
			</div>
			<% end %>
			<p class="card-text m-0">
				<hr>
				<div class="row">
					<div class="col">Amount</div>
					<div class="col">Confirmed</div>
					<div class="col"></div>
					<div class="col"></div>
				</div>
				<% @advance_swifts.each do |swift| %>
				<div class="row">
					<div class="col"><small class="text-warning"><%= number_with_delimiter(swift.amount.to_i, delimiter: ',') %></small></div>
					<div class="col"><small class="text-success"><%= swift.confirmed.present? ? swift.confirm_at.strftime('%Y-%m-%d') : "-" %></small></div>
					<div class="col"></div>
					<div class="col"><small class="text-secondary"><%= swift.currency %></small></div>
				</div>
				<% end %>
			</p>
		</div>
	</div>
	<% else %>
	<div class="card border-0 shadow">
		<div class="card-body p-xl-4">
			<h2 class="card-title mb-2 text-<%= (@project.pi.payment_term == '0' || @project.swifts.first&.advance.present?) ? "success" : "warning" %>"><%= @project.pi.payment_term == '0' ? "need no Advance Payment" : "Advance payment" %></h2>
			<div class="row d-flex justify-content-between">
				<div class="col-auto">
					<h6 class="card-subtitle text-secondary mb-3">
					</h6>
				</div>
				<div class="col-auto" style="margin-top: -6px;">
					<small class="text-success">
					</small>
				</div>
			</div>
			<p class="card-text m-0">
				<div class="row">
					<div class="col">
						Amount
						<br>
						<small class="text-warning">0</small>
					</div>
					<div class="col">
						Confirmed at
						<br>
						<small class="text-warning">-</small>
					</div>
					<div class="col">
						<br>
						<small> <%= @project.pi.currency %></small>
					</div>
				</div>

			</p>
		</div>
	</div>
	
	<% end %>