<% if @project.bookings.present? %>
<div class="card border-0 shadow mt-2">
	<div class="card-body p-xl-4">
		<h2 class="card-title mb-2 text-success"> <i class="bi bi-calendar2-event-fill"></i> Bookings</h2>
		<% @project.bookings.each do |booking|%>
		<div class="card card-custom mt-1">
			<div class="card-body">

				<div class="row d-flex justify-content-between">
					<div class="col-auto">
						<h6 class="card-subtitle text-secondary mb-3">
							<span class="text-danger"> NO. </span><small class="text-secondary"><%= booking.number %></small>
						</h6>
					</div>
					<div class="col-auto" style="margin-top: -6px;">
						<small class="text-success">
							<h5 class="mb-1 timeline-h5">STATUS:
								<% if booking.filled.to_i == booking.quantity.to_i %>
								<span class="text-success fw-bold">stuffing finished</span>
								<% elsif booking.stuffing == true || (booking.filled.to_i > 0 && booking.filled.to_i < booking.quantity.to_i) %>
								<span class="text-warning fw-bold">stuffing</span>
								<% elsif booking.picked_up.to_i < booking.quantity.to_i %>
								<span class="text-warning fw-bold">pick up containers</span>
								<% elsif booking.filled.to_i == booking.quantity.to_i %>
								<span class="text-success fw-bold">finished</span>
								<% end %>


							</h5>
						</small>
					</div>
				</div>

				<% if @project.total_booking_picked_up > 0 %>


				<div class="row text-center">
					<div class="col">
						<small class="fw-bold timeline-small">total <span style="font-size: 10px;"> <%= booking.container_type %></span> </small>
						<hr>
					</div>
					<div class="col">
						<small class="fw-bold timeline-small">picked up</small>
						<hr>
					</div>

					<div class="col">
						<small class="fw-bold timeline-small">Stuffed</small>
						<hr>
					</div>
				</div>
				<div class="row text-center">
					<div class="col border-end border-1 border-dark">
						<div><small class="text-secondary"><i class="bi bi-clipboard"></i> <%= booking.quantity %> <span style="font-size: 10px;">Containers</span></small></div>
						<% if booking.weight.present? %>
						<div><small class="text-secondary"><i class="bi bi-compass"></i> <%= booking.weight %> <span style="font-size: 10px;">MT</span></small></div>
						<% end %>
					</div>
					<div class="col border-end border-1 border-dark">
						<small class="text-secondary"><i class="bi bi-clipboard-check"></i> <%= booking.picked_up.to_i %> <span style="font-size: 10px;">Containers</span></small>
						<%= form_with model: [@project, booking], local: true, class: "form-inline" do |form| %>
						<div class="form-group">
							<%= form.range_field :picked_up, min: 0, max: booking.quantity, class: "form-range mt-2", style: "width: 100%;", disabled: true %>
						</div>
						<% end %>
					</div>
					<div class="col">
						<small class="text-secondary"><i class="bi bi-clipboard-fill"></i> <%= booking.filled.to_i %> <span style="font-size: 10px;">Containers</span></small>
						<%= form_with model: [@project, booking], local: true, class: "form-inline" do |form| %>
						<div class="form-group">
							<%= form.range_field :filled, min: 0, max: booking.quantity, class: "form-range mt-2", style: "width: 100%;", disabled: true %>
						</div>
						<% end %>
					</div>          

				</div>

				<div class="row mt-2 d-flex justify-content-between">
					<div class="col-auto fw-bold">
						<% if booking.inspection.present? %>
						<small class="timeline-small me-1">Inspection Included</small>
						<% else %>
						<small class="text-danger">No Inspection</small>
						<% end %>
					</div>
					<div class="col-auto">
						<small class="text-secondary">
							<% if booking.freight_price.present? %>
								<small class="timeline-small">freight per container: <%= booking.freight_price %>$</small>
							<% end %>
						</small>
					</div>
					
					
				</div>


				<div class="row mt-2 d-flex justify-content-between">
					<div class="col-auto fw-bold">
						<% if booking.images.attached? %>
						<small class="timeline-small me-1">Images</small>
						<% booking.images.each_with_index do |image, index| %>
						<small class="me-1">
							<%= link_to index + 1, rails_blob_path(image, disposition: "attachment"), target: "_blank", class: "text-secondary" %>
						</small>
						<% end %>
						<% end %>
					</div>
					<div class="col-auto">
						<small class="text-secondary">
							last update: <span class="fw-bold"> <%= booking.updated_at.strftime('%Y-%m-%d') %></span>
						</small>
					</div>
				</div>
				<% end %>
			</div>

		</div>
		<% end %>

		<% if @project.bookings.second.present? %>
		<hr>
		<div class="row">
			<div class="col">
				<span>
					<small class="fw-bold timeline-small">total: </small><span class="text-secondary fw-bold"><%= @project.total_booking_quantity %></span>
				</span>
			</div>
			<div class="col">
				<span>
					<small class="fw-bold timeline-small">picked up: </small><span class="text-secondary fw-bold"><%= @project.total_booking_picked_up %></span>
				</span>
			</div>
			<div class="col">
				<span>
					<small class="fw-bold timeline-small">stuffed: </small><span class="text-secondary fw-bold"><%= @project.total_booking_filled %></span>
				</span>
			</div>
		</div>
		<% end%>
	</div>
</div>

<% else %>
<div class="card border-0 shadow mt-2">
	<div class="card-body p-xl-4">
		<h2 class="card-title mb-2 text-warning"> <i class="calendar2-fill"></i> Booking</h2>

		<div class="row d-flex justify-content-between">
			<div class="col-auto">
				<h6 class="card-subtitle text-secondary mb-3">
					0 containers
				</h6>
			</div>

		</div>

	</div>
</div>
<% end %>