<%= form_with model: @project do |form| %>
<div class="modal-body">
	<div class="row">
		<% if @project.errors.any? %>
		<div class="error-area" style="color:red;">
			<h3><%= pluralize(@project.errors.count, 'error') %> prohibited your project from being saved.</h3>
			<ul>
				<% @project.errors.each do |error|%>
				<li>
					<%= error.full_message%>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="row">
			<div class="col-lg-6">
				<div class="d-flex justify-content-start">
					<h3>Project</h3>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="d-flex justify-content-end">
					<% if @project %>
					<h3 class="secondary"><%= @project.number %></h3>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="row mb-3">
				<div class="col-md-6">
					<%= form.label :number, 'Project Number', class: 'form-label' %>
					<%= form.text_field :number, class: 'form-control', required: true %>
				</div>
				<div class="col-md-6">
					<%= form.label :name, 'Project Name', class: 'form-label' %>
					<%= form.text_field :name, class: 'form-control', required: true %>
				</div>
			</div>
			<div class="row mb-3">
				<div class="form-group mb-2 mt-3">
				<%= form.check_box :started, class: 'form-check-input' %>
				<label class="form-check-label" for="hourly">
					Started?
				</label>
				</div>
			</div>
			<div class="row mb-3">
				  <div class="col-md-6">
				    <%= form.label :password, class: 'form-label' %>
				    <%= form.password_field :password, class: 'form-control' %>
				  </div>

				  <div class="col-md-6">
				    <%= form.label :password_confirmation, class: 'form-label' %>
				    <%= form.password_field :password_confirmation, class: 'form-control' %>
				  </div>
			</div>

			<!-- Project Options -->
			<div class="card">
				<div class="card-header">
					Possible issues 
				</div>
				<div class="card-body">
					<%# Dynamically generate checkbox for each boolean attribute %>
					<div class="row">
						<% [:new_customer, :custom_clearance, :new_destination, :shipping, :exchange, :supplier_prepaid, :delivery_failure, :supplier_credits, :third_person, :logistic, :quality].each do |attribute| %>
						<div class="col-md-6">
							<%= form.check_box attribute %>
							<%= form.label attribute %>
						</div>
						<% end %>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<%= form.submit 'Create Project', class: 'btn btn-primary', data: { action: 'click->bs-modal#submitEnd' } %>
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
<% end %>