<%= link_to project_path(project), class: "text-decoration-none d-flex flex-column h-100 w-100" do %>
  <div class="card h-100 w-100 border-0 shadow">
    <div class="card-body d-flex flex-column">
      <div class="row d-flex justify-content-between mt-2">
        <div class="col-auto">
          <% if !project.pi.present? %>
          <span class="text-danger fw-bold">
              NO_PI
          </span>
          <% else %>
          <span style="color: #49af98;">
            <%= project.pi.customer.nickname %>
          </span>
          <% end %>
        </div>
        <div class="col-auto">
          <span class="fw-bold" style="font-size: 19px; color: #0c590c;"><%= project.number %></span>
        </div>
      </div>
      <% if project.pi.present? %>
        <p class="card-text mt-3">
          <small><%= project.pi.quantity.to_i %></small> MT <small><%= project.pi.product %></small> - <small><%= project.pi.packing_type %></small>
          <br>

          <small><%= project.pi.incoterm %> <%= project.pi.pod %></small> 
          <br>
        </p>
        <hr>
        <div style="font-size: 10px;">
          <div class="row">
            <div class="col-4 fw-bold">
              <span class="text-success"><i style="font-size: 10px;" class="bi bi-check-circle-fill"></i> PI</span>
            </div>
            <div class="col-4">
              <% if project.swifts.present? %>
                <span class="text-success fw-bold"><i style="font-size: 10px;" class="bi bi-check-circle-fill"></i> Advance</span>
              <% else %>
                <span class="text-warning"><i style="font-size: 10px;" class="bi bi-dash-circle-fill"></i> Advance</span>
              <% end %>
            </div>
            <div class="col-4">
              <% if project.bookings.present? %>
                <span class="text-success fw-bold"><i style="font-size: 10px;" class="bi bi-check-circle-fill"></i> Booking</span>
              <% else %>
                <span class="text-warning"><i style="font-size: 10px;" class="bi bi-dash-circle-fill"></i> Booking</span>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <% if project.any_booking_stuffing_finished? %>
                <span class="text-success fw-bold"><i style="font-size: 10px;" class="bi bi-check-circle-fill"></i> Documents</span>
              <% else %>
                <span class="text-warning"><i style="font-size: 10px;" class="bi bi-dash-circle-fill"></i> Documents</span>
              <% end %>
            </div>
            <div class="col-4">
              <% if project.bookings.any? { |booking| booking.bl_draft.attached? } %>
                <span class="text-success fw-bold"><i style="font-size: 10px;" class="bi bi-check-circle-fill"></i> Shipping</span>
              <% else %>
                <span class="text-warning"><i style="font-size: 10px;" class="bi bi-dash-circle-fill"></i> Shipping</span>
              <% end %>
            </div>
            <div class="col-4">
              <% if project.cis.present? %>
                <span class="text-success fw-bold"><i style="font-size: 10px;" class="bi bi-check-circle-fill"></i> Invoice</span>
              <% else %>
                <span class="text-warning"><i style="font-size: 10px;" class="bi bi-dash-circle-fill"></i> Invoice</span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
