<div class="col-lg-10 mx-auto mt-5">
	<%= link_to 'View Projects List', list_projects_path, class: 'btn btn-warning m-2' %>

	<div class="card mt-4 mb-4">
		<div class="card-body">
			<h3 class="text-center mb-3">Search in projects</h3>
			<%= search_form_for @q, url: projects_path do |form| %>
			
			<div class="input-group mb-3">
				<%= form.search_field :name_or_number_cont, class: "form-control", placeholder: "Search by project number or name", area: { label: "Search by project number or name", describedby: "button-addon2" } %>
				<%= form.submit "Search", class: "btn btn-primary", id: "button-addon2" %>
			</div>
			<% end %>
		</div>
	</div>



	<div class="row">
		<% @projects.each do |project| %>
		<div class="col-12 col-md-4 mb-3 d-flex align-items-stretch">
			<%= render 'projects/project', project: project, bookings: project.bookings, title: "" %>
		</div>
		<% end %>
	</div>
</div>






