<div class="mx-auto mt-5">
  <div class="card mt-4 mb-4">
    <div class="card-body">
      <h3 class="text-center mb-3">Search in projects</h3>
      <%= search_form_for @q, url: list_projects_path do |form| %>
      <div class="input-group mb-3">
        <%= form.search_field :name_or_number_cont, class: "form-control", placeholder: "Search by project number or name", area: { label: "Search by project number or name", describedby: "button-addon2" } %>
        <%= form.submit "Search", class: "btn btn-primary", id: "button-addon2" %>
      </div>
      <% end %>
    </div>
  </div>

  <row class="m-2">
    <div class="col-sm">
      <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
        <table class="table table-bordered table-striped table-sm table-layout-auto">
          <thead style="position: sticky; top: 0; z-index: 1; background-color: #f8f9fa;">
            <tr>
              <th class="bg-danger text-white col-sm-1"><small>Project</small></th>
              <th class="bg-primary text-white"><small>Client</small></th>
              <th class="bg-primary text-white"><small>POD</small></th>
              <th class="bg-primary text-white"><small>Term</small></th>
              <th class="bg-primary text-white"><small>Payment</small></th>
              <th class="bg-primary text-white"><small>PI Number</small></th>
              <th class="bg-primary text-white"><small>PI Date</small></th>
              <th class="bg-primary text-white"><small>Quantity</small></th>
              <th class="bg-primary text-white"><small>Unit Price</small></th>
              <th class="bg-primary text-white"><small>Agent</small></th>
              <th class="bg-primary text-white"><small>Commission</small></th>
              <th class="bg-primary text-white"><small>Product</small></th>
              <th class="bg-primary text-white"><small>Packing</small></th>
              <th class="bg-warning text-white"><small>Booking</small></th>
              <th class="bg-warning text-white"><small>Line</small></th>
              <th class="bg-warning text-white"><small>Forwarder</small></th>
              <th class="bg-warning text-white"><small>Freight Price</small></th>
              <th class="bg-warning text-white"><small>Inspection</small></th>
              <th class="bg-warning text-white"><small>Custom Clearance</small></th>
              <th class="bg-warning text-white"><small>BL Number</small></th>
              <th class="bg-warning text-white"><small>Vessel & Voyage</small></th>
              <th class="bg-warning text-white"><small>BL Date</small></th>
              <th class="bg-info text-white"><small>Net Weight</small></th>
              <th class="bg-success text-white"><small>Supplier</small></th>
              <th class="bg-success text-white"><small>PI Number (Supplier)</small></th>
              <th class="bg-success text-white"><small>Packing (Supplier)</small></th>
              <th class="bg-success text-white"><small>Unit Price (Supplier)</small></th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
            <% project.ballance_projects.each_with_index do |bp, index| %>
            <tr>
              <td class="col-sm-1"><small><%= index == 0 ? link_to(project.number, project_path(project), class: "fw-bold") : link_to("#{project.number} / #{index + 1}", project_path(project), class: "fw-bold") %></small></td>
              <td><small><%= project.pi&.customer&.nickname %></small></td>
              <td><small><%= project.pi&.pod %></small></td>
              <td><small><%= project.pi&.incoterm %></small></td>
              <td><small><%= project.swifts.present? ? project.swifts.first.bank.name : (project.cis.any? { |ci| ci.swift.present? } ? project.cis.find { |ci| ci.swift.present? }&.swift&.bank&.name : 'N/A') %></small></td>
              <td><small><%= project.pi&.number %></small></td>
              <td><small><%= project.pi&.issue_date %></small></td>
              <td><small><%= project.pi&.quantity.to_i %></small></td>
              <td><small><%= project.pi&.unit_price.to_i %></small></td>
              <td><small><%= project.pi&.agent %></small></td>
              <td><small><%= project.pi&.commission %></small></td>
              <td><small><%= project.pi&.product %></small></td>
              <td><small><%= project.pi&.packing_type %></small></td>
              <td><small><%= project.bookings.map { |b| b.number }.join('<hr class="my-1">').html_safe %></small></td>
              <td><small><%= project.bookings.map { |b| b.line }.join('<hr class="my-1">').html_safe %></small></td>
              <td><small><%= project.bookings.map { |b| b.forwarder }.join('<hr class="my-1">').html_safe %></small></td>
              <td><small><%= project.bookings.map { |b| b.freight_price }.join('<hr class="my-1">').html_safe %></small></td>
              <td><small><%= project.bookings.map { |b| b.inspection ? "✓" : "✗" }.join('<hr class="my-1">').html_safe %></small></td>
              <td><small><%= project.bookings.map { |b| b.send_to_line ? "Finished" : b.declaration ? "Declaration" : b.tally ? "Tally" : "N/A" }.join('<hr class="my-1">').html_safe %></small></td>
              <td><small><%= project.bookings.map { |b| b.bl_number }.join('<hr class="my-1">').html_safe %></small></td>
              <td><small><%= project.bookings.map { |b| b.vessel_name }.join('<hr class="my-1">').html_safe %></small></td>
              <td><small><%= project.bookings.map { |b| b.date_of_bl }.join('<hr class="my-1">').html_safe %></small></td>
              <td><small><%= project.cis.present? ? project.cis.sum(&:net_weight) : 0 %></small></td>
              <td><small><%= bp.ballance.supplier&.name || 'N/A' %></small></td>
              <td><small><%= bp.ballance.spi&.number || 'N/A' %></small></td>
              <td><small><%= bp.ballance.spi&.packing_type || 'N/A' %></small></td>
              <td><small><%= bp.ballance.spi&.unit_price.to_i %></small></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </row>
  <div class="row mt-3">
    <div class="col-sm">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <%= paginate @projects, remote: true %>
        </ul>
      </nav>
    </div>
  </div>
</div>
