<div class="col-lg-10 mx-auto mt-5">
	<% if @project.pi %>

	<div class="row">
		<div class="col-6">	
			<div class="card border-0 shadow">
				<div class="card-body p-xl-4">
					<h2 class="card-title mb-2 text-success">Performa Invoice issued</h2>
					<div class="row d-flex justify-content-between">
						<div class="col-auto">
							<h6 class="card-subtitle text-secondary mb-3">
								<% if @project.pi && @project.pi.document&.attached? %>
								<i class="bi bi-file-earmark-pdf-fill"></i>
								<%= link_to "#{@project.pi.number}.PDF", rails_blob_path(@project.pi.document, disposition: "attachment"), class: "text-secondary", target: "_blank" %>
								<% end %>
							</h6>
						</div>
						<div class="col-auto" style="margin-top: -6px;">
							<small class="text-success">
								<% if @project.pi %>
								<%= @project.pi.issue_date&.strftime('%B %d') %>
								<% end %>
							</small>
						</div>
					</div>
					<p class="card-text m-0">
						<br>
						<small><%= @project.pi.quantity.to_i %></small> MT <small><%= @project.pi.product %></small> - <small><%= @project.pi.packing_type %></small>
						<br> 
						<small><%= @project.pi.incoterm %> <%= @project.pi.pod %></small> PORT
						<br>
						<hr>
						<div class="row">
							<div class="col">
								price
								<br>
								<small class="text-warning"><%= @project.pi.unit_price.to_i %></small>
							</div>
							<div class="col">
								advance
								<br>
								<small class="text-warning"><%= @project.pi.payment_term %>% </small>
							</div>
							<div class="col">total 
								<br>
								<small class="text-warning"><%= number_with_delimiter(@project.pi.total_price.to_i, delimiter: ',') %></small>
								<br>
							</div>
							<div class="col">
								<br>
								<small> <%= @project.pi.currency %></small>
							</div>
						</div>
					</p>
				</div>
			</div>
		</div>
		<div class="col-6">
		<% if @project.swifts.present? %>
		
			<div class="card border-0 shadow">
				<div class="card-body p-xl-4">
					<h2 class="card-title mb-2 text-success">Advance Payment Received</h2>
					<div class="row d-flex justify-content-between">
						<div class="col-auto">
							<h6 class="card-subtitle text-secondary mb-3">
							</h6>
						</div>
						<div class="col-auto" style="margin-top: -6px;">
							<small class="text-success">
							</small>
						</div>
					</div>
					<% @advance_swifts.each do |swift| %>
					<div class="row d-flex justify-content-between">
						<div class="col-auto">
							<h6 class="card-subtitle text-secondary mb-3">
								<% swift.documents.each do |document| %>
								<div class="col-12 mb-2">
									<i class="bi bi-file-earmark-pdf-fill"></i>
									<%= link_to "swift/#{@project.pi.number}/#{swift.id}.PDF", rails_blob_path(document, disposition: "attachment"), class: "text-secondary", target: "_blank" %>
								</div>
								<% end %>
							</h6>
						</div>
						<div class="col-auto" style="margin-top: -6px;">
							<small class="text-success">
								<%= swift.updated_at.strftime('%B %d') %>
							</small>
						</div>
					</div>
					<% end %>
					<p class="card-text m-0">
						<hr>
						<div class="row">
							<div class="col">Amount</div>
							<div class="col">Confirmed</div>
							<div class="col"></div>
							<div class="col"></div>
						</div>
						<% @advance_swifts.each do |swift| %>
						<div class="row">
							<div class="col"><small class="text-warning"><%= number_with_delimiter(swift.amount.to_i, delimiter: ',') %></small></div>
							<div class="col"><small class="text-success"><%= swift.confirmed.present? ? swift.confirm_at.strftime('%Y-%m-%d') : "-" %></small></div>
							<div class="col"></div>
							<div class="col"><small class="text-secondary"><%= swift.currency %></small></div>
						</div>
						<% end %>
					</p>
				</div>
			</div>
			<% else %>
			<div class="card border-0 shadow">
				<div class="card-body p-xl-4">
					<h2 class="card-title mb-2 text-<%= (@project.pi.payment_term == '0' || @project.swifts.first&.advance.present?) ? "success" : "warning" %>"><%= @project.pi.payment_term == '0' ? "need no Advance Payment" : "Advance payment" %></h2>
					<div class="row d-flex justify-content-between">
						<div class="col-auto">
							<h6 class="card-subtitle text-secondary mb-3">
							</h6>
						</div>
						<div class="col-auto" style="margin-top: -6px;">
							<small class="text-success">
							</small>
						</div>
					</div>
					<p class="card-text m-0">
						<div class="row">
							<div class="col">
								Amount
								<br>
								<small class="text-warning">0</small>
							</div>
							<div class="col">
								Confirmed at
								<br>
								<small class="text-warning">-</small>
							</div>
							<div class="col">
								<br>
								<small> <%= @project.pi.currency %></small>
							</div>
						</div>

					</p>
				</div>
			</div>
		
			<% end %>
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-6">
			<% if @project.bookings.present? %>
			<div class="card border-0 shadow">
				<div class="card-body p-xl-4">
					<h2 class="card-title mb-2 text-success">Bookings</h2>
					<% @project.bookings.each do |booking|%>
					<div class="card card-custom mt-1">
						<div class="card-body">

							<div class="row d-flex justify-content-between">
								<div class="col-auto">
									<h6 class="card-subtitle text-secondary mb-3">
										<span class="text-danger"> NO. </span><small class="text-secondary"><%= booking.number %></small>
									</h6>
								</div>
								<div class="col-auto" style="margin-top: -6px;">
									<small class="text-success">
										<h5 class="mb-1 timeline-h5">STATUS:
											<% if booking.filled.to_i == booking.quantity.to_i %>
											<span class="text-success fw-bold">stuffing finished</span>
											<% elsif booking.stuffing == true || (booking.filled.to_i > 0 && booking.filled.to_i < booking.quantity.to_i) %>
											<span class="text-warning fw-bold">stuffing</span>
											<% elsif booking.picked_up.to_i < booking.quantity.to_i %>
											<span class="text-warning fw-bold">pick up containers</span>
											<% elsif booking.filled.to_i == booking.quantity.to_i %>
											<span class="text-success fw-bold">finished</span>
											<% end %>


										</h5>
									</small>
								</div>
							</div>

							<% if @project.total_booking_picked_up > 0 %>


							<div class="row text-center">
								<div class="col">
									<small class="fw-bold timeline-small">total <span style="font-size: 10px;"> <%= booking.container_type %></span> </small>
									<hr>
								</div>
								<div class="col">
									<small class="fw-bold timeline-small">picked up</small>
									<hr>
								</div>

								<div class="col">
									<small class="fw-bold timeline-small">Stuffed</small>
									<hr>
								</div>
							</div>
							<div class="row text-center">
								<div class="col border-end border-1 border-dark">
									<small class="text-secondary"><i class="bi bi-clipboard"></i> <%= booking.quantity %> <span style="font-size: 10px;">Containers</span></small>
								</div>
								<div class="col border-end border-1 border-dark">
									<small class="text-secondary"><i class="bi bi-clipboard-check"></i> <%= booking.picked_up.to_i %> <span style="font-size: 10px;">Containers</span></small>
									<%= form_with model: [@project, booking], local: true, class: "form-inline" do |form| %>
									<div class="form-group">
										<%= form.range_field :picked_up, min: 0, max: booking.quantity, class: "form-range mt-2", style: "width: 100%;", disabled: true %>
									</div>
									<% end %>
								</div>
								<div class="col">
									<small class="text-secondary"><i class="bi bi-clipboard-fill"></i> <%= booking.filled.to_i %> <span style="font-size: 10px;">Containers</span></small>
									<%= form_with model: [@project, booking], local: true, class: "form-inline" do |form| %>
									<div class="form-group">
										<%= form.range_field :filled, min: 0, max: booking.quantity, class: "form-range mt-2", style: "width: 100%;", disabled: true %>
									</div>
									<% end %>
								</div>          

							</div>



							<div class="row mt-5 d-flex justify-content-between">
								<div class="col-auto fw-bold">
									<% if booking.images.attached? %>
									<small class="timeline-small me-1">Images</small>
									<% booking.images.each_with_index do |image, index| %>
									<small class="me-1">
										<%= link_to index + 1, rails_blob_path(image, disposition: "attachment"), target: "_blank", class: "text-secondary" %>
									</small>
									<% end %>
									<% end %>
								</div>
								<div class="col-auto">
									<small class="text-secondary">
										last update: <span class="fw-bold"> <%= booking.updated_at.strftime('%Y-%m-%d') %></span>
									</small>
								</div>
							</div>
							<% end %>
						</div>

					</div>
					<% end %>

					<% if @project.bookings.second.present? %>
					<hr>
					<div class="row">
						<div class="col">
							<span>
								<small class="fw-bold timeline-small">total: </small><span class="text-secondary fw-bold"><%= @project.total_booking_quantity %></span>
							</span>
						</div>
						<div class="col">
							<span>
								<small class="fw-bold timeline-small">picked up: </small><span class="text-secondary fw-bold"><%= @project.total_booking_picked_up %></span>
							</span>
						</div>
						<div class="col">
							<span>
								<small class="fw-bold timeline-small">stuffed: </small><span class="text-secondary fw-bold"><%= @project.total_booking_filled %></span>
							</span>
						</div>
					</div>
					<% end%>
				</div>
			</div>

			<% else %>
			<div class="card border-0 shadow">
				<div class="card-body p-xl-4">
					<h2 class="card-title mb-2 text-warning">Booking</h2>

					<div class="row d-flex justify-content-between">
						<div class="col-auto">
							<h6 class="card-subtitle text-secondary mb-3">
								0 containers
							</h6>
						</div>

					</div>

				</div>
			</div>
			<% end %>

			<% if @project.cis.present? %>
			<div class="card border-0 shadow mt-2">
				<div class="card-body p-xl-4">
					<h2 class="card-title mb-2 text-success">Balance Payment <%= "Received" if @all_bookings_done %></h2>
					<div class="row d-flex justify-content-between">
						<div class="col-auto">
							<h6 class="card-subtitle text-secondary mb-3">
							</h6>
						</div>
						<div class="col-auto" style="margin-top: -6px;">
							<small class="text-success">
							</small>
						</div>
					</div>
					<% @project.cis.each do |ci| %>


					<div class="card card-custom mt-1">
						<div class="card-body">
							<% if ci.document.attached? %>
							<div class="row d-flex justify-content-between">
								<div class="col-auto">
									<h6 class="text-<%= ci.swift.present? ? "success" : "warning" %>">
										INVOCE <small class="fw-bold timeline-small"><%= ci.number %></small>
									</h6>

								</div>
								<div class="col-auto">
									<h6 class="fw-bold text-<%= ci.swift.present? ? "success" : "danger" %>">
										<%= ci.swift.present? ? "PAID" : "UNPAID" %>
									</h6>
								</div>
							</div>




							<div class="row mt-4">
								<div class="col">
									<div class="card card-custom mt-1">
										<div class="card-body text-center">
											<h6 class="card-subtitle timeline-small">
												gross weight
												<hr>
											</h6>
											<small class="text-center text-secondary"><%= ci.gross_weight %> MT</small>

										</div>
									</div>
								</div>
								<div class="col">
									<div class="card card-custom mt-1">
										<div class="card-body text-center">
											<h6 class="card-subtitle timeline-small">
												net weight
												<hr>
											</h6>
											<small class="text-center text-secondary"><%= ci.net_weight %> MT</small>


										</div>
									</div>
								</div>
							</div>

							<div class="card card-custom mt-1">
								<div class="card-body">
									<div class="row text-center mt-3">
										<div class="col">
											<small class="fw-bold timeline-small">advance</small>
											<hr>
										</div>
										<div class="col">
											<small class="fw-bold timeline-small">balance</small>
											<hr>
										</div>

										<div class="col">
											<small class="fw-bold timeline-small">total</small>
											<hr>
										</div>
									</div>
									<div class="row text-center">
										<div class="col border-end border-1 border-dark">
											<small class="text-secondary"><%= number_with_delimiter(ci.advance_payment.to_i, delimiter: ',') %> <small style="font-size: 9px;"><%= @project.pi.currency %></small></small>
										</div>
										<div class="col border-end border-1 border-dark">
											<small class="text-secondary"><%= number_with_delimiter(ci.balance_payment.to_i, delimiter: ',') %> <small style="font-size: 9px;"><%= @project.pi.currency %></small></small>
										</div>
										<div class="col">
											<small class="text-secondary">
												<%= number_with_delimiter(ci.total_price.to_i, delimiter: ',') %> <small style="font-size: 9px;"><%= @project.pi.currency %></small>
											</small>
										</div>          

									</div>
									<div class="row mt-5 d-flex justify-content-between">
										<div class="col-auto">
											<small class="text-secondary">
												<i class="bi bi-file-earmark-pdf-fill"></i>
												<%= link_to "INVOICE-#{ci.number}.PDF", rails_blob_path(ci.document, disposition: "attachment"), class: "text-secondary", target: "_blank" %>

											</small>
										</div>
										<div class="col-auto">
											<small class="text-secondary">
												issue date: <span class="fw-bold"> <%= ci.issue_date&.strftime('%Y-%m-%d') %></span>
											</small>
										</div>
									</div>
								</div>
							</div>



							<% end %>
						</div>
					</div>
					<% end %>
					<hr>
					<div class="card card-custom mt-1">
						<div class="card-body">
							<div class="row d-flex justify-content-between">
								<div class="col-auto">
									<h6 class="fw-bold timeline-small">
										Swifts 
									</h6>

								</div>
							</div>
							<div class="row timeline-small mt-3">
								<div class="col">Swift</div>
								<div class="col">Amount</div>
								<div class="col">Confirmed</div>
								<div class="col"></div>
							</div>
							<hr>
							<% @balance_swifts.each do |swift| %>
							<div class="row">
								<div class="col">
									<small class="timeline-small">
										<% swift.documents.each do |document| %>
										<i class="bi bi-file-earmark-pdf-fill"></i>
										<%= link_to ".PDF", rails_blob_path(document, disposition: "attachment"), class: "text-secondary", target: "_blank" %>
										<% end %>
									</small>
								</div>
								<div class="col"><small class="text-warning"><%= number_with_delimiter(swift.amount.to_i, delimiter: ',') %></small></div>
								<div class="col"><small class="text-success"><%= swift.confirmed.present? ? swift.confirm_at.strftime('%Y-%m-%d') : "-" %></small></div>
								<div class="col"><small class="text-secondary"><%= swift.currency %></small></div>
							</div>
							<% end %>
							<% if @balance_swifts.second %>
							<hr>
							<small class="mt-2 timeline-small">total <span class="text-secondary fw-bold"> 
								<%= number_with_delimiter(@total_balance_swift_amount.to_i, delimiter: ',') %></span> <span style="font-size: 9px;"> <%= @balance_swifts.second.currency %></span></small>
								<% end %>
							</div>
						</div>

					</div>
				</div>
				<% else %>

				<div class="card border-0 shadow mt-2">
					<div class="card-body p-xl-4">
						<h2 class="card-title mb-2 text-warning">Balance Payment</h2>
						<div class="row d-flex justify-content-between">
							<div class="col-auto">
								<h6 class="card-subtitle text-secondary mb-3">
								</h6>
							</div>
							<div class="col-auto" style="margin-top: -6px;">
								<small class="text-success">
								</small>
							</div>
						</div>
						<p class="card-text m-0">
							<div class="row">
								<div class="col">
									Amount
									<br>
									<small class="text-warning">0</small>
								</div>
								<div class="col">
									Confirmed at
									<br>
									<small class="text-warning">-</small>
								</div>
								<div class="col">
									<br>
									<small> <%= @project.pi.currency %></small>
								</div>
							</div>

						</p>
					</div>
				</div>
				<% end %>

			</div>
			<div class="col-6">
				<% if @project.any_booking_stuffing_finished? %>
				<div class="card border-0 shadow">
					<div class="card-body p-xl-4">
						<% if @project.bookings.last&.custom_submission_date.present? %>
						<h2 class="card-title mb-2 text-success">Documents Delivered</h2>
						<% else %>
						<h2 class="card-title mb-2 text-success">Documents</h2>
						<% end %>
						<% @project.bookings.each do |booking| %>
						<div class="card card-custom mt-1">
							<div class="card-body">

								<div class="row d-flex justify-content-between mt-2">
									<div class="col-auto">
										<h6 class="card-subtitle text-secondary">
											<span class="text-danger"> <i class="bi bi-box-seam-fill"></i> </span><span class="text-secondary"> <%= booking.quantity %> </span><small style="font-size: 10px;">containers</small>
										</h6>
									</div>
									<div class="col-auto">
										<small class="text-success">
											<h5 class="mb-1 timeline-h5">STATUS:
												<% if booking.send_to_line.present? %>
												<small class="text-success">docs delivered to line</small>
												<% elsif booking.tally  %>
												<small class="text-warning">processing 90%</small>
												<% elsif booking.declaration %>
												<span class="text-warning">processing 50%</span>
												<% elsif booking.filled != booking.quantity %>
												<span class="text-danger">not started</span>
												<% else %>
												<span class="text-warning">started</span>
												<% end %>


											</h5>
										</small>
									</div>
								</div>
							</div>

						</div>
						<% end %>
					</div>
				</div>
				<% else %>
				<div class="card border-0 shadow">
					<div class="card-body p-xl-4">
						<h2 class="card-title mb-2 text-warning">Documents</h2>
					</div>
				</div>
				<% end %>
				<% if @any_bl_draft_attached %>
				<div class="card border-0 shadow mt-2">
					<div class="card-body p-xl-4">
						<h2 class="card-title mb-2 text-success">Shipping</h2>
						<% @project.bookings.each do |booking| %>
						<div class="card card-custom mt-1">
							<div class="card-body">
								<h6 class="card-subtitle text-secondary mt-1 mb-3">
									to: <span class="text-success"><%= booking.pod.titleize %></span>
								</h6>
								<div class="card card-custom mt-1">
									<div class="card-body">
										<div class="row d-flex justify-content-between mt-2">

											<div class="col-auto">

												<h6 class="card-subtitle text-<%= booking.bl_draft.attached? ? "success" : "warning" %>">
													<small>BL Draft</small></h6>

												</div>
												<div class="col-auto">
													<h6 class="card-subtitle text-secondary">
														<small class="timeline-small">
															<% if booking.bl_draft.attached? %>
															<i class="bi bi-file-earmark-pdf-fill"></i>
															<%= link_to "#{booking.number}.PDF", rails_blob_path(booking.bl_draft), class: 'timeline-small' %>
															<% else %>
															-
															<% end %>
														</small>
													</h6>
												</div>

											</div>
										</div>
									</div>
									<div class="card card-custom mt-1">
										<div class="card-body">
											<div class="row d-flex justify-content-between mt-2">

												<div class="col-auto">

													<h6 class="card-subtitle text-<%= booking.vessel_eta.present? ? "success" : "warning" %>">
														<small>Vessel</small> </h6>

													</div>
													<% if booking.vessel_eta.present? %>
													<div class="col-auto">
														<h6 class="card-subtitle timeline-small" style="margin-top: -23px;">
															<% if booking.vessel_name.present? %>
															<small style="font-size: 9px;">NAME</small>
															<br>
															<% end %>
															<small class="timeline-small"> 
																<%= booking.vessel_name %>
															</small>
														</h6>
													</div>
													<div class="col-auto">
														<h6 class="card-subtitle timeline-small" style="margin-top: -23px;">
															<small style="font-size: 9px;">ETA</small>
															<br>
															<small class=""> 
																<%= booking.vessel_eta.strftime('%Y-%m-%d') %>
															</small>                                
														</h6>
													</div>
													<% end  %>

												</div>
											</div>
										</div>
										<div class="card card-custom mt-1">
											<div class="card-body">
												<div class="row d-flex justify-content-between mt-2">

													<div class="col-auto">

														<h6 class="card-subtitle text-<%= booking.bl_dated.attached? ? "success" : "warning" %>">
															<small>Dated Bl</small> </h6>

														</div>
														<div class="col-auto">
															<h6 class="card-subtitle text-secondary">
																<small class="text-secondary timeline-small"> 
																	<% if booking.bl_dated.attached? %>
																	<i class="bi bi-file-earmark-pdf-fill timeline-small"></i>
																	<%= link_to "DATED.PDF", rails_blob_path(booking.bl_dated), class: 'timeline-small' %>
																	<% else %>
																	<% end %>
																</small>
															</h6>
														</div>

													</div>
												</div>
											</div>
											<div class="card card-custom mt-1">
												<div class="card-body">
													<div class="row d-flex justify-content-between mt-2">

														<div class="col-auto">

															<h6 class="card-subtitle text-<%= booking.surrender.attached? ? "success" : "warning" %>">
																<small>Surrender</small> </h6>

															</div>
															<div class="col-auto">
																<h6 class="card-subtitle text-secondary">
																	<small class="text-secondary timeline-small"> 
																		<% if booking.surrender.attached? %>
																		<i class="bi bi-file-earmark-pdf-fill timeline-small"></i>
																		<%= link_to "SURRENDER.PDF", rails_blob_path(booking.surrender), class: 'timeline-small' %>
																		<% else %>
																		<% end %>
																	</small>
																</h6>
															</div>

														</div>
													</div>
												</div>
												<div class="row mt-5 d-flex justify-content-between">
													<div class="col-auto">
													</div>
													<div class="col-auto" style="margin-top: -6px;">
														<small class="text-secondary">
															last update: <span class="fw-bold"> <%= booking.updated_at.strftime('%Y-%m-%d') %></span>
														</small>
													</div>
												</div>
											</div>

										</div>
										<% end %>
									</div>
								</div>
								<% else %>
								<div class="card border-0 shadow mt-2">
									<div class="card-body p-xl-4">
										<h2 class="card-title mb-2 text-warning">Shipping</h2>
									</div>
								</div>
								<% end %>
								<% if current_user.sales? %>
								<div class="card border-0 shadow mt-2">
									<div class="card-body p-xl-4">
										<h2 class="card-title mb-2 text-success">Actions</h2>
										<div class="card card-custom mt-1">
											<div class="card-body">

												<div class="row d-flex justify-content-between mt-2">
													<div class="col-auto">
														<h6 class="card-subtitle text-secondary">
															<small class="text-danger"> <i class="bi bi-activity"></i> </small><span class="text-secondary"> </span><small class="timeline-small">Performa Invoice</small><small class="text-danger"> <i class="bi bi-activity"></i> </small>
														</h6>
													</div>
													<div class="col-auto">
														<small class="text-success">
															<%= link_to edit_project_path(@project), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
															<span class="mb-1 timeline-h5">EDIT PROJECT</span>
															<% end %>

														</small>
														<small class="text-primary">
															|
														</small>
														 
														<small class="text-success">
															<%= link_to edit_project_pi_path(@project, @pi), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
															<span class="mb-1 timeline-h5">EDIT PI</span>
															<% end %>

														</small>

													</div>
												</div>

											</div>

										</div>
										<div class="card card-custom mt-1">
											<div class="card-body">

												<div class="row d-flex justify-content-between mt-2">
													<div class="col-auto">
														<h6 class="card-subtitle text-secondary">
															<small class="text-danger"> <i class="bi bi-activity"></i> </small><span class="text-secondary"> </span><small class="timeline-small">Advance Payment</small><small class="text-danger"> <i class="bi bi-activity"></i> </small>
														</h6>
													</div>
													<div class="col-auto">
														<small class="text-success">
															<%= link_to new_project_swift_path(@project), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
															<span class="mb-1 timeline-h5">ADVANCE SWIFT</span>
															<% end %>

														</small>
													</div>
												</div>

											</div>

										</div>
										<div class="card card-custom mt-1">
											<div class="card-body">

												<div class="row d-flex justify-content-between mt-2">
													<div class="col-auto">
														<h6 class="card-subtitle text-secondary">
															<small class="text-danger"> <i class="bi bi-activity"></i> </small><span class="text-secondary"> </span><small class="timeline-small">Bookings & Documents</small><small class="text-danger"> <i class="bi bi-activity"></i> </small>
														</h6>
													</div>
													<div class="col-auto">
														<small class="text-success">
															<%= link_to new_project_booking_path(@project), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
															<span class="mb-1 timeline-h5">NEW BOOKING</span>
															<% end %>

														</small>
													</div>
												</div>
												<% @project.bookings.each do |booking| %>
												<div class="row d-flex justify-content-between mt-2">
													<div class="col-auto">
														<small class="fw-bold card-subtitle text-secondary">
															<small class="text-danger">  </small><span class="text-secondary"> </span><small class=""><%= booking.number %></small><small class="text-danger">  </small>
														</small>
													</div>
													<div class="col-auto">
														<small class="text-success">
															<%= link_to edit_project_booking_path(@project, booking), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
															<span class="mb-1 timeline-h5">EDIT BOOKING</span>
															<% end %>
															<span class="text-primary"> | </span>
															<%= link_to edit_picked_up_project_booking_path(@project, booking), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
															<span class="mb-1 timeline-h5">PICK-UP&STUFFING</span>
															<% end %>
															<span class="text-primary"> | </span>
															<%= link_to edit_status_project_booking_path(@project, booking), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
															<span class="mb-1 timeline-h5">CUSTOM CLEARANCE</span>
															<% end %>




														</small>
													</div>
												</div>
												<% end %>

											</div>

										</div>
										<div class="card card-custom mt-1">
											<div class="card-body">

												<div class="row d-flex justify-content-between mt-2">
													<div class="col-auto">
														<h6 class="card-subtitle text-secondary">
															<small class="text-danger"> <i class="bi bi-activity"></i> </small><span class="text-secondary"> </span><small class="timeline-small">Shipping</small><small class="text-danger"> <i class="bi bi-activity"></i> </small>
														</h6>
													</div>
													
												</div>
												<% @project.bookings.each do |booking| %>
												<div class="row d-flex justify-content-between mt-2">
													<div class="col-auto">
														<small class="fw-bold card-subtitle text-secondary">
															<small class="text-danger">  </small><span class="text-secondary"> </span><small class=""><%= booking.number %></small><small class="text-danger">  </small>
														</small>
													</div>
													<div class="col-auto">
														<small class="text-success">
															<%= link_to shipping_project_booking_path(@project, booking), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
															<span class="mb-1 timeline-h5">EDIT SHIPPING</span>
															<% end %>
														</small>
													</div>
												</div>
												<% end %>

											</div>

										</div>
										<div class="card card-custom mt-1">
											<div class="card-body">

												<div class="row d-flex justify-content-between mt-2">
													<div class="col-auto">
														<h6 class="card-subtitle text-secondary">
															<small class="text-danger"> <i class="bi bi-activity"></i> </small><span class="text-secondary"> </span><small class="timeline-small">Balance Payment</small><small class="text-danger"> <i class="bi bi-activity"></i> </small>
														</h6>
													</div>
													<div class="col-auto">
														<small class="text-success">
															<%= link_to new_project_ci_path(@project), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
															<span class="mb-1 timeline-h5">NEW CI</span>
															<% end %>

														</small>
													</div>
												</div>
												<% @project.cis.each do |ci| %>
												<div class="row d-flex justify-content-between mt-2">
													<div class="col-auto">
														<small class="fw-bold card-subtitle text-secondary">
															<small class="text-danger">  </small><span class="text-secondary"> </span><small class="">NO.<%= ci.number %></small><small class="text-danger">  </small>
														</small>
													</div>
													<div class="col-auto">
														<small class="text-success">
															<%= link_to edit_project_ci_path(@project, ci), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
															<span class="mb-1 timeline-h5">EDIT CI</span>
															<% end %>
															<span class="text-primary"> | </span>
															<%= link_to new_ci_swift_path(ci), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
															<span class="mb-1 timeline-h5">BALANCE SWIFT</span>
															<% end %>
														</small>
													</div>
												</div>
												<% end %>

											</div>

										</div>
									</div>

								</div>
								<% end %>
							</div>
						</div>










						<% else %>

						<% if current_user.sales? %>
			<div class="row mt-2">
				<div class="col-lg">
					<%= link_to "Edit", edit_project_path(@project), data: { controller: "bs-modal-form" }, class: "btn btn-primary" %>
					<%= link_to "Update Timeline", update_timeline_project_path(@project), class: "btn btn-primary" %>
					<%= link_to "Timeline", time_line_project_path, class: "btn btn-info" %>
					<%= link_to "Add Advance Swift", new_project_swift_path(@project), data: { controller: "bs-modal-form" }, class: "btn btn-warning" %>
					<% if !@project.pi%>
					<%= link_to "Create PI", new_project_pi_path(@project), data: { controller: "bs-modal-form" }, class: "btn btn-secondary" %>


					<% else %>

					<%= link_to new_project_ci_path(@project), data: { controller: "bs-modal-form" }, class: "btn btn-success" do %>
					<i class="bi bi-plus"></i> Add CI
					<% end %>


					<%= link_to new_project_ballance_project_path(@project), data: { controller: "bs-modal-form" }, class: "btn btn-success" do %>
					<i class="bi bi-plus"></i> Allocate
					<% end %>
					<%= link_to new_project_booking_path(@project), data: { controller: "bs-modal-form" }, class: "btn btn-secondary" do %>
					<i class="bi bi-plus"></i> Add Booking
					<% end %>



					<% end %>

				</div>
			</div>
			<% end %>

						<% end %>



						<!-- <br><br><br><br>

						<%= render 'projects/project', project: @project, bookings: @bookings %>


						<% if @project.swifts %>
						<div class="card mb-5" id="ci_items">
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-center">
									<h5 class="card-title text-center mb-0">Swifts</h5>
								</div>
								<row class="m-2">
									<div class="col-sm">
										<table class="table">
											<thead>
												<tr>
													<th scope="col" class="col-sm-1">#</th>
													<th scope="col" class="col-sm-2">Amount</th>
													<th scope="col" class="col-sm-2">Deposited Amount</th>
													<th scope="col" class="col-sm-2">From</th>

													<th scope="col" class="col-sm-2">To</th>
													<th scope="col" class="col-sm-2">Currency</th>
													<th scope="col" class="col-sm-2">Project</th>
													<th scope="col" class="col-sm-2">Document</th>
													<th scope="col" class="col-sm-2">Type</th>





													<th scope="col" class="col-sm-2">Status</th>
													<th scope="col" style="text-align: right;" class="col-sm-3 text-right">Actions</th>

												</tr>
											</thead>
											<tbody>
												<% @project.swifts.order(created_at: :desc).each do |swift| %>
												<tr style="font-size: 12px;" class="<%= 
												if swift.confirmed.present?
													'table-success'
												elsif swift.rejected.present?
													'table-danger'
												else
													'table-warning'
												end

											%>">
											<th scope="row">
												<%= swift.id %>
											</th>
											<td class="fw-bold"><%= number_with_delimiter(swift.amount, delimiter: ',') %></td>
											<td class="fw-bold"><%= number_with_delimiter(swift.deposited_amount, delimiter: ',') %></td>
											<td><%= swift.from %></td>

											<td><%= swift.bank.name %></td>
											<td><%= swift.currency %></td>
											<% if swift.ci.present? %>
											<td><%= link_to swift.ci.project.number, project_path(swift.ci.project) %></td>
											<% else %>
											<td><%= link_to swift.project.number, project_path(swift.project) %></td>
											<% end %>
											<td><% swift.documents.each do |file| %>
												<small> 
													<%= link_to file.filename, rails_blob_path(file, disposition: 'attachment') %> 
												</small>
												<% end %>
											</td>
											<td><%= swift.advance ? "Advance" : "Balance" %></td>
											<td><%= 
											if swift.confirmed.present?
												"Confirmed at #{swift.confirm_at&.strftime('%b %d')}"
											elsif swift.rejected.present?
												"Rejected at #{swift.rejected_at&.strftime('%b %d')}" 
											else
												'Wait for deposite'
											end
										%></td>
										<td style="text-align: right;">
											<% if !swift.confirmed && !swift.rejected && current_user.accounting? %>
											<span><%= link_to edit_amount_before_confirm_swift_path(swift), data: { controller: "bs-modal-form" } do %>
												<i class="bi bi-calendar2-check-fill" style="color: green;"></i>
												<% end %></span>
												|
												<%= link_to reject_swift_path(swift), data: { turbo_method: :patch, turbo_confirm: 'Are you sure you want to reject this swift, this action can not be undo!' } do %>
												<i class="bi bi-calendar-x-fill" style="color: red;"></i>
												<% end %>

												<% end %>


											</td>
										</tr>
										<% end %>
									</tbody>
								</table>

							</div>
						</row>


					</div>
				</div>

				<% end %>



				<% if @project.pi %>
				<%= render 'pis/pi', pi: @pi, project: @project %>
				<% if @project.cis.present? %>
				<div class="card mb-5" id="ci_items">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center">
							<h5 class="card-title text-center mb-0">Commercial Invoices (CIs)</h5>

							<%= link_to "Add CI", new_project_ci_path(@project), data: { controller: "bs-modal-form" }, class: "btn btn-info" %>

						</div>
						<% @cis.each do |ci|%>
						<%= render 'cis/ci', ci: ci, project: @project %>
						<% end %>

					</div>
				</div>





				<% end %>

				<% if @project.bookings.present? %>
				<div class="card mb-5" id="ci_items">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center">
							<h5 class="card-title text-center mb-0">Bookings</h5>
							<%= link_to new_project_booking_path(@project), data: { controller: "bs-modal-form" } do %>
							<i class="bi bi-plus"></i> Add Booking
							<% end %>


						</div>
						<% @bookings.each do |booking|%>
						<h6 class="text-info mt-2">
							<%= booking.part ? "part #{booking.part}" : "" %>
						</h6>
						<%= render 'bookings/booking', booking: booking, project: @project %>

						<% end %>

					</div>
				</div>
				<% end %>





				<% end %>
				<% if @payment_orders_with_status_paid_dollar.present? || @payment_orders_with_status_paid_dirham.present? || @payment_orders_with_status_paid_rial.present? %>
				<div class="row mb-2 bg-body rounded">
					<h4 class="text-secondary mt-2">Paid Payment Orders</h4>
					<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
						<h6 class="text-muted mt-1">Rial</h6>
						<div>
							<%= render 'payment_orders/report', payment_orders: @payment_orders_with_status_paid_rial, sum: @sum_paid_rial %>

						</div>
					</div>
					<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
						<h6 class="text-muted mt-1">Dollar</h6>
						<div>
							<%= render 'payment_orders/report', payment_orders: @payment_orders_with_status_paid_dollar, sum: @sum_paid_dollar %>

						</div>
					</div>

				</div>
				<div class="row mb-2 bg-body rounded">
					<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
						<h6 class="text-muted mt-1">Dirham</h6>
						<div>
							<%= render 'payment_orders/report', payment_orders: @payment_orders_with_status_paid_dirham, sum: @sum_paid_dirham %>

						</div>
					</div>
					<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
						<h6 class="text-danger mt-1">Summery</h6>
						<div></div>
					</div>

				</div>
				<% end %>
				<% if @payment_orders_with_status_not_paid.present?  %>
				<div class="card mb-5">
					<div class="card-body">
						<div class="row mb-3">
							<div class="col-lg-6">
								<div class="d-flex justify-content-start">
									<h3>Not Paid Payment Orders</h3>
								</div>
							</div>

						</div>
						<ul class="list-group" id="payment_order_items">
							<% @payment_orders_with_status_not_paid.each do |payment_order| %>
							<%= render 'payment_orders/payment_order', payment_order: payment_order %>
							<% end %>
						</ul>
					</div>
				</div>
				<% end %>
 -->
			</div>


