<div class="col-lg-10 mx-auto mt-5">
	<% if @project.pi %>
	<div class="card border-0 shadow">
		<div class="card-body" style="background-color: #f3f3f2;">
			<div class="card-header text-white " style="background-color: #fbfbfb">
				<div class="row d-flex justify-content-between mt-2 mb-2">
					<div class="col-auto">
						<span class="fw-bold" style="font-size: 25px; color: #0c590c;"><%= @project.number %></span> - <span style="color: #49af98;">
				            <%= @project.pi.customer.nickname %>
				          </span>
				          
					</div>
					<div class="col-auto m-2">
						<%= risk_level_tag(@project) %>
					</div>
					
					

				</div>
			</div>
			<div class="row mt-2">
				<div class="col-lg-6 col-12">
					<%= render 'projects/pi_section_for_signed_in_user'%>
					<% if @allocates.present? %>
					<%= render 'projects/allocate', allocates: @allocates %>
					<% end %>
					<%= render 'projects/advance_section_for_signed_in_user'%>
					<%= render 'projects/balances_section_for_signed_in_user'%>
				</div>
				<div class="col-lg-6 col-12">
					<%= render 'projects/actions_for_sales'%>
					<%= render 'projects/bookings_section_for_signed_in_user'%>
					<%= render 'projects/documents_section_for_signed_in_user'%>
					<%= render 'projects/shipping_section_for_signed_in_user'%>
					
				</div>
			</div>
			
		</div>
	</div>










	<% else %>

	<% if current_user.sales? %>
	<div class="row mt-2">
		<div class="col-lg">
			<%= link_to "Edit", edit_project_path(@project), data: { controller: "bs-modal-form" }, class: "btn btn-primary" %>
			

		</div>
	</div>
	<% end %>

	<% end %>



	<br><br><br>

						<br>

						


						



				


				<% if @payment_orders_with_status_paid_dollar.present? || @payment_orders_with_status_paid_dirham.present? || @payment_orders_with_status_paid_rial.present? %>
				<div class="row mb-2 bg-body rounded">
					<h4 class="text-secondary mt-2">Paid Payment Orders</h4>
					<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
						<h6 class="text-muted mt-1">Rial</h6>
						<div>
							<%= render 'payment_orders/report', payment_orders: @payment_orders_with_status_paid_rial, sum: @sum_paid_rial %>

						</div>
					</div>
					<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
						<h6 class="text-muted mt-1">Dollar</h6>
						<div>
							<%= render 'payment_orders/report', payment_orders: @payment_orders_with_status_paid_dollar, sum: @sum_paid_dollar %>

						</div>
					</div>

				</div>
				<div class="row mb-2 bg-body rounded">
					<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
						<h6 class="text-muted mt-1">Dirham</h6>
						<div>
							<%= render 'payment_orders/report', payment_orders: @payment_orders_with_status_paid_dirham, sum: @sum_paid_dirham %>

						</div>
					</div>
					<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
						<h6 class="text-danger mt-1">Summery</h6>
						<div></div>
					</div>

				</div>
				<% end %>
				<% if @payment_orders_with_status_not_paid.present?  %>
				<div class="card mb-5">
					<div class="card-body">
						<div class="row mb-3">
							<div class="col-lg-6">
								<div class="d-flex justify-content-start">
									<h3>Not Paid Payment Orders</h3>
								</div>
							</div>

						</div>
						<ul class="list-group" id="payment_order_items">
							<% @payment_orders_with_status_not_paid.each do |payment_order| %>
							<%= render 'payment_orders/payment_order', payment_order: payment_order %>
							<% end %>
						</ul>
					</div>
				</div>
				<% end %>

			</div>



