<div class="col-lg-10 mx-auto mt-5">

  <!-- Timeline 7 - Bootstrap Brain Component -->
  <section class="bsb-timeline-7 bg-light py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 col-md-12 col-xl-10 col-xxl-9">
          <ul class="timeline">

             <%= render 'projects/section_pi'%>
             <%= render 'projects/section_advance'%>
             <%= render 'projects/section_purchase'%>
             <%= render 'projects/section_bookings'%>
             <%= render 'projects/section_documents'%>
             <%= render 'projects/section_balance'%>


            

            
            

        



        



              




            </ul>

          </div>
        </div>
      </div>
    </section>
  </div>
