<div class="col-lg-10 mx-auto mt-5">

<% if @all_payments_done %>
  <p>All payments are done for this project.</p>


  <h2>Advance Payments</h2>
<table class="table">
  <thead>
    <tr>
            <th>ID</th>

      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @advance_payments.each do |payment| %>
      <tr>
        <td><%= payment[:id] %></td>
        <td><%= payment[:amount] %></td>
        <td><%= payment[:date].strftime("%Y-%m-%d") if payment[:date] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Balance Payments</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @balance_payments.each do |payment| %>
      <tr>
        <td><%= payment[:id] %></td>
        <td><%= payment[:amount] %></td>
        <td><%= payment[:date].strftime("%Y-%m-%d") if payment[:date] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2> Payments</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment[:id] %></td>
        <td><%= payment[:amount] %></td>
        <td><%= payment[:date].strftime("%Y-%m-%d") if payment[:date] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Swifts</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @received_swifts.each do |swift| %>
      <tr>
        <td><%= swift[:id] %></td>
<td><%= number_with_precision(swift[:amount], precision: 2, delimiter: ',') %>
</td>
        <td><%= swift[:date].strftime("%Y-%m-%d") if swift[:date] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr><hr>
<%= @received_swifts.inspect %>

<hr><hr>



total:

<%= @total_weighted_amount %>







<% else %>
  <p>Some payments are still pending for this project.</p>
<% end %>
</div>
