<div class="col-lg-10 mx-auto mt-5">

<% if @all_payments_done %>
  <p>All payments are done for this project.</p>

 <hr>

 <h2>Payments for <%= @project.name %></h2>

<!-- Advance Payments -->


<!-- Balance Payments -->


dso = <%= @dso %>
<hr>
total swift = <%= @total_swifts %>
<hr>
total payment = <%= @total_payments %>
<hr>
total profit = <%= @profit %>


<% else %>
  <p>Some payments are still pending for this project.</p>
<% end %>
</div>



