<div class="col-lg-10 mx-auto mt-5">

<% if @all_payments_done %>
  <p>All payments are done for this project.</p>

  <hr>

  <h2>Payments for <%= @project.name %></h2>

  <!-- Advance Payments -->
  <h3>Advance Payments</h3>
  <% if @advance_payments.any? %>
    <pre><%= @advance_payments.map(&:attributes).to_json %></pre>
  <% else %>
    <p>No advance payments found.</p>
  <% end %>

  <!-- Balance Payments -->
  <h3>Balance Payments</h3>
  <% if @balance_payments.any? %>
    <pre><%= @balance_payments.map(&:attributes).to_json %></pre>
  <% else %>
    <p>No balance payments found.</p>
  <% end %>

  <!-- Swift Hash -->
  <h3>Swift Hash (Used in DSO Calculation)</h3>
  <% if @swift_hash.any? %>
    <pre><%= @swift_hash.to_json %></pre>
  <% else %>
    <p>No swifts found.</p>
  <% end %>

  <!-- Calculated DSO -->
  <h3>Calculated DSO</h3>
  <p>DSO: <%= @dso.round %> days</p>

  <hr>
  <p>Total Swift: <%= number_with_delimiter(@total_swifts, delimiter: ',') %></p>
  <hr>
  <p>Total Payment: <%= number_with_delimiter(@total_payments, delimiter: ',') %></p>
  <hr>
  <p>Total Profit: <%= number_with_delimiter(@profit, delimiter: ',') %></p>

<% else %>
  <p>Some payments are still pending for this project.</p>
<% end %>
</div>
