<div class="col-lg-10 mx-auto mt-5">

<% if @all_payments_done %>
  <p>All payments are done for this project.</p>


 <table>
  <thead>
    <tr>
      <th>Payment ID</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment_id, payment| %>
      <tr>
        <td><%= payment_id %></td>
        <td><%= number_with_precision(payment[:amount], precision: 2, delimiter: ',') %></td>
        <td><%= payment[:date].strftime("%Y-%m-%d") if payment[:date] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Swift ID</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @received_swifts.each do |swift_id, swift| %>
      <tr>
        <td><%= swift_id %></td>
        <td><%= number_with_precision(swift[:amount], precision: 2, delimiter: ',') %></td>
        <td><%= swift[:date].strftime("%Y-%m-%d") if swift[:date] %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<hr><hr>
<%= @received_swifts.inspect %>

<hr><hr>



total:

<%= @total_weighted_amount %>







<% else %>
  <p>Some payments are still pending for this project.</p>
<% end %>
</div>
