
		<row class="m-2">
			<div class="col-sm">
				<table class="table">
					<thead>
						<tr>
							<th scope="col" class="col-sm-1">Booking number</th>
							
							<th scope="col" class="col-sm-2">images</th>
							<th scope="col" class="col-sm-2">add images</th>

						</tr>
					</thead>
					<tbody>
					<% @project.bookings.each do |booking| %>
					  <div id="booking_item_<%= booking.id %>">
				  	    <%= form_for [@project, booking], url: update_images_project_booking_path(@project, booking), html: { multipart: true }, method: :patch, local: true do |form| %>
					      <tr>
					        <th scope="row"><%= booking.number %></th>
					        
					        <th class="fw-bold">
					          <% if booking.images.attached? %>
					            <% booking.images.each_with_index do |image, index| %>
					              <span class="ml-1">
					                <%= link_to format('%02d', index + 1), rails_blob_path(image, disposition: "attachment"), target: "_blank", class: "text-secondary" %>
					              </span class="ml-1">
					            <% end %>
					          <% else %>
					            <p>0 images</p>
					          <% end %>
					        </th>
					        <th class="fw-bold">
					          <span class="form-group">
					            <%= form.file_field :images, multiple: true, class: 'form-control' %>

					          </span>
					          <span class="form-group">
					            <%= form.submit 'Upload Images', class: 'btn btn-primary' %>
					          </span>
					          <% end %>
					          <br>
					          <span>
					          	<%= form_with url: delete_all_images_project_booking_path(@project, booking), method: :delete, local: true do %>
							      <div class="form-group">
							        <%= submit_tag 'Delete All Images', class: 'btn btn-danger' %>
							      </div>
							    <% end %>
					          </span>
					        </th>
					        
					      </tr>
					    
					    
					  </div>
					<% end %>



					</tbody>
				</table>
			</div>
		</row>
		