<% if current_user.procurement?%>
<div class="card border-0 shadow mt-2">
	<div class="card-body p-xl-4" style="background: #ced1e1;">
		<h2 class="card-title mb-2 text-success"><i class="bi bi-gear-fill"></i> Actions</h2>
		<div class="card card-custom mt-1">
			<div class="card-body">

				<div class="row d-flex justify-content-between mt-2">
					<div class="col-auto">
						<h6 class="card-subtitle text-secondary">
							<small class="text-danger"> <i class="bi bi-activity"></i> </small><span class="text-secondary"> </span><small class="timeline-small">Performa Invoice</small><small class="text-danger"> <i class="bi bi-activity"></i> </small>
						</h6>
					</div>
					<div class="col-auto">
						<% if !spi.present? %>
						<small class="text-success">
							<%= link_to new_ballance_spi_path(ballance), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
							<span class="mb-1 timeline-h5">CREATE PI</span>
							<% end %>

						</small>
						<small class="text-primary">
							|
						</small>
						<% end %>
						<small class="text-success">
							<%= link_to edit_ballance_spi_path(ballance, spi), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
							<span class="mb-1 timeline-h5">EDIT PI</span>
							<% end %>
						</small>
						<small class="text-primary">
							|
						</small>
						<small class="text-success">
							<%= link_to new_ballance_ballance_project_path(ballance), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
							<span class="mb-1 timeline-h5">ALLOCATE</span>
							<% end %>
						</small>

					</div>
				</div>

			</div>

		</div>
		<div class="card card-custom mt-1">
			<div class="card-body">

				<div class="row d-flex justify-content-between mt-2">
					<div class="col-auto">
						<h6 class="card-subtitle text-secondary">
							<small class="text-danger"> <i class="bi bi-activity"></i> </small><span class="text-secondary"> </span><small class="timeline-small">Balance Payment</small><small class="text-danger"> <i class="bi bi-activity"></i> </small>
						</h6>
					</div>
					<div class="col-auto">
						<small class="text-success">
							<%= link_to new_ballance_sci_path(ballance), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
							<span class="mb-1 timeline-h5">NEW CI</span>
							<% end %>

						</small>
					</div>
				</div>
				<% scis.each do |ci| %>
				<div class="row d-flex justify-content-between mt-2">
					<div class="col-auto">
						<small class="fw-bold card-subtitle text-secondary">
							<small class="text-danger">  </small><span class="text-secondary"> </span><small class="">NO.<%= ci.number %></small><small class="text-danger">  </small>
						</small>
					</div>
					<div class="col-auto">
						<small class="text-success">
							<%= link_to edit_ballance_sci_path(ballance, ci), data: { controller: "bs-modal-form" }, class: "text-decoration-none" do %>
							<span class="mb-1 timeline-h5">EDIT CI</span>
							<% end %>
						</small>
					</div>
				</div>
				<% end %>

			</div>

		</div>
	</div>

</div>
<% end %>