	<div class="card mb-5">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-2">
					<div class="d-flex justify-content-start">
						<p class="fw-bold">Inventory <span class="text-warning"><%= link_to ballance.number, ballance_path(ballance) %></span> </p>
					</div>
				</div>
				<% if ballance.spi %>
				<div class="col-lg-2">
					<p class="fw-bold">PI <span class="text-warning"><%= ballance.spi.number %></span> </p>				
				</div>
				<div class="col-lg-6">
					<p class="fw-bold"><span class="text-warning"><%= ballance.spi.quantity %></span> MT <span class="text-warning"><%= ballance.spi.packing_type %></span>, <span class="text-warning"><%= ballance.spi.product %></span>, from <span class="text-warning"><%= ballance.supplier.name %></span>
					</p>				
				</div>

				<% end %>
				<div class="col-lg-2">
					<div class="d-flex justify-content-end">
						<p class="fw-bold">Status 
							<% if ballance.status%>
							<span class="text-warning"><%= ballance.status %></span> 
							<% else %>
							<span class="text-warning">Unknown</span> 
							<% end %>

						</p>
					</div>
				</div>
			</div>
			<% if @allocates %>
			<div class="row">
				<div class="col-lg">
					<p class="fw-bold">Not allocated
						<span class="text-warning"><%= ballance.not_allocated_quantity.present? ? ballance.not_allocated_quantity.to_i : 0 %>
						</span>
						MT
					</p>
				</div>
				<% @allocates.each do |allocate| %>
				<div class="col-lg">
					<p class="fw-bold">
						<small class="text-warning"><%= allocate.quantity %></small> MT to
						Project number
						<small class="text-warning"><%= link_to allocate.project.number, project_path(allocate.project_id) %></small>
					</p>
				</div>
				<% end %>

			</div>
			<% end %>
		</div>
	</div>