<%= link_to ballance_path(ballance), class: "text-decoration-none d-flex flex-column h-100 w-100" do %>
<div class="card h-100 w-100 border-0 shadow">
	<div class="card-body d-flex flex-column">
		<div class="row d-flex justify-content-between mt-2">
			<div class="col-auto">
				<% if !ballance.spi.present? %>
				<span class="text-danger fw-bold">
					NO_PI
				</span>
				<% else %>
				<span style="color: #49af98;">
					<% if title == "BALLANCE" %>
					<span class="fw-bold">Inventory</span>
					<% else %>
					<%= ballance.supplier.name %>
					<% end %>
				</span>
				<% end %>
			</div>
			<div class="col-auto">
				<span class="fw-bold" style="font-size: 19px; color: #0c590c;"><%= ballance.number %></span>
			</div>
		</div>
		<% if ballance.spi.present? %>
		<p class="card-text mt-3">
			<small><%= ballance.spi.quantity.to_i %></small> MT <small><%= ballance.product %></small> - <small><%= ballance.spi.packing_type %></small>
			<br>

		</p>
		<p>
			<hr class="mt-0">
			<div class="row d-flex justify-content-between">
				<div class="col-auto">

					<small class="text-muted">PI No: <span class="text-danger"><%= ballance.spi.number%></span></small>
				</div>
				<div class="col-auto">
					<small class="text-muted">Remains: <span class="text-danger"><%= ballance.remaining_quantity%></span> MT</small> 
				</div>
			</div>


		</p>

		<% end %>
	</div>
</div>
<% end %>