<div class="col-lg-10 mx-auto mt-5">
  <div class="card mt-4 mb-4">
    <div class="card-body">
      <h3 class="text-center mb-3">Search in Inventories</h3>
      <%= search_form_for @q, url: ballances_path do |form| %>
        <div class="input-group mb-3">
          <%= form.search_field :name_or_number_cont, class: "form-control", placeholder: "Search by inventory number or name", aria: { label: "Search by inventory number or name", describedby: "button-addon2" } %>
          <%= form.submit "Search", class: "btn btn-primary", id: "button-addon2" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="accordion" id="sortAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Sort By
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#sortAccordion">
        <div class="accordion-body">
          <div class="list-group">
            <%= link_to 'Created At', ballances_path(sort: 'created_at', q: params[:q]), class: 'list-group-item list-group-item-action' %>
            <%= link_to 'Number', ballances_path(sort: 'number', q: params[:q]), class: 'list-group-item list-group-item-action' %>
            <%= link_to 'Remaining Quantity', ballances_path(sort: 'remaining_quantity', q: params[:q]), class: 'list-group-item list-group-item-action' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <% @ballances.each do |ballance| %>
      <div class="col-12 col-md-4 mb-3 d-flex align-items-stretch">
        <%= render 'ballances/ballance', ballance: ballance, title: "" %>
      </div>
    <% end %>
  </div>
</div>
