<%= form_with model: @price do |form| %>
<div class="modal-body">
    <% if @price.errors.any? %>
    <div class="col-lg-12">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= pluralize(@price.errors.count, 'error') %> prohibited this Price from being saved:</h4>
            <ul>
                <% @price.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    </div>
    <% end %>
    

    
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group mt-3">
                <%= form.label :quantity, 'Quantity', class: 'form-label' %>
                <%= form.text_field :quantity, class: "form-control" %>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group mt-3">
                <%= form.label :purchase_price, 'Purchase Price', class: 'form-label' %>
                <%= form.text_field :purchase_price, class: "form-control" %>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group mt-3">
                <%= form.label :fob_cost, 'FOB Cost', class: 'form-label' %>
                <%= form.text_field :fob_cost, class: "form-control" %>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group mt-3">
                <%= form.label :fob_price, 'FOB Price', class: 'form-label' %>
                <%= form.text_field :fob_price, class: "form-control" %>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="form-group mt-3">
                <label for="amount" class="form-label">
                    Status
                </label>
                <%= form.select :status, options_for_select(Price::STATUSES, selected: form.object.status), { prompt: '' }, { class:"form-select" } %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group mt-3">
                <%= form.label :description, 'Description', class: 'form-label' %>
                <%= form.text_area :description, class: 'form-control', rows: 3 %>
            </div>
        </div>
    </div>
    

</div>
<div class="modal-footer">
    <%= form.submit 'Save Price', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
<% end %>
