
    
    <%= form_with url: export_payment_orders_path, method: :get, local: true, data: { turbo: false } do |f| %>
      <div class=" row">
        <div class="col-md-4">
          <%= f.label :start_date, "Start Date", class: "form-label" %>
          <%= f.date_field :start_date, class: "form-control" %>
        </div>
        <div class="col-md-4">
          <%= f.label :end_date, "End Date", class: "form-label" %>
          <%= f.date_field :end_date, class: "form-control" %>
        </div>
        <div class="col-md-2 mt-4"> <%= f.submit "Export to CSV", class: "btn btn-primary" %></div>
      </div>

    <% end %>
