<div class="col-lg-10 mx-auto mt-5">
	<div class="card mb-5">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-6">
					<div class="d-flex justify-content-start">
						<h3>Payment Orders</h3>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="d-flex justify-content-end">
						<div class="hide-on-desktop">
							<%= render 'filter' %>
						</div>
						<% if current_user.is_manager || current_user.accounting? %>
							<%= link_to reports_payment_orders_path, class: "btn btn-warning mr-2", style: "margin-right: 10px;" do %>
							<i class="bi bi-bar-chart"></i> Reports
							<% end %>
						<% end %>

						<%= link_to new_payment_order_path, data: { controller: "bs-modal-form" }, class: "btn btn-success" do %>
						<i class="bi bi-plus"></i> Create Payment order
						<% end %>
					</div>
				</div>
			</div>
			<div class="hide-on-mobile">
				<%= render 'filter_not_mobile' %>
			</div>


			<ul class="list-group" id="payment_order_items">
				<% @payment_orders.each do |payment_order| %>
				<%= render 'payment_orders/payment_order', payment_order: payment_order %>
				<% end %>
			</ul>
			<div class="row mt-1">
				<div class="col-sm">
					<nav aria-label="Page navigation">
						<ul class="pagination justify-content-center">
							<%= paginate @payment_orders, remote: true %>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>