<div class="col-lg-10 mx-auto mt-5">

		<div class="col-lg">
			<div class="d-flex justify-content-end">
				<%= form_tag(reports_payment_orders_path, method: "get") do %>
				<div class="row">
					<div class="col-lg-4"> <!-- Adjust the column width as needed -->
						<div class="form-group">
							<%= select_tag 'selected_date[year]', options_for_select(@distinct_years.map { |year| [year, year] }, params.dig(:selected_date, :year).to_i), prompt: 'Select Year', class: 'form-control' %>
						</div>
					</div>
					<div class="col-lg-4"> <!-- Adjust the column width as needed -->
						<div class="form-group">
							<%= select_tag 'selected_date[month]', options_for_select(@distinct_months.map { |month| [Date::MONTHNAMES[month], month] }, params.dig(:selected_date, :month).to_i), prompt: 'Select Month', class: 'form-control' %>
						</div>
					</div>
					<div class="col-lg-4"> <!-- Adjust the column width as needed -->
						<div class="form-group">
							<%= submit_tag "Filter", class: "btn btn-primary" %>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>

	<div class="row mb-2 bg-body rounded">
		<h4 class="text-secondary mt-2">Wait for payment</h4>
		<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
			<h6 class="text-muted mt-1">Rial</h6>
			<div>
				<%= render 'payment_orders/report', payment_orders: @not_paid_rial, sum: @sum_not_paid_rial %>

			</div>
		</div>
		<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
			<h6 class="text-muted mt-1">Dollar</h6>
			<div>
				<%= render 'payment_orders/report', payment_orders: @not_paid_dollar, sum: @sum_not_paid_dollar %>

			</div>
		</div>
		
	</div>
	<div class="row mb-2 bg-body rounded">
		<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
			<h6 class="text-muted mt-1">Dirham</h6>
			<div>
				<%= render 'payment_orders/report', payment_orders: @not_paid_dirham, sum: @sum_not_paid_dirham %>

			</div>
		</div>
		<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
			<h6 class="text-danger mt-1">Summery</h6>
			<div></div>
		</div>
		
	</div>

	<div class="row mb-2 bg-body rounded">
		<h4 class="text-secondary mt-2">Paid</h4>
		<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
			<h6 class="text-muted mt-1">Rial</h6>
			<div>
				<%= render 'payment_orders/report', payment_orders: @paid_rial, sum: @sum_paid_rial %>

			</div>
		</div>
		<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
			<h6 class="text-muted mt-1">Dollar</h6>
			<div>
				<%= render 'payment_orders/report', payment_orders: @paid_dollar, sum: @sum_paid_dollar %>

			</div>
		</div>
		
	</div>
	<div class="row  mb-2 bg-body rounded">
		<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
			<h6 class="text-muted mt-1">Dirham</h6>
			<div>
				<%= render 'payment_orders/report', payment_orders: @paid_dirham, sum: @sum_paid_dirham %>

			</div>
		</div>
		<div class="col-lg shadow-lg mb-2 m-1 bg-body rounded">
			<h6 class="text-danger mt-1">Summery</h6>
			<div></div>
		</div>
		
	</div>
</div>