<%= form_for [@project, @ci] do |form| %>
<div class="modal-body">
	<div class="row">
		<% if @ci.errors.any? %>
		<div class="error-area" style="color:red;">
			<h3><%= pluralize(@ci.errors.count, 'error') %> prohibited your ci from being saved.</h3>
			<ul>
				<% @ci.errors.each do |error|%>
				<li>
					<%= error.full_message%>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="row">
			<div class="col-lg-6">
				<div class="d-flex justify-content-start">
					<h4>Invoice</h4>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="d-flex justify-content-end">
					<% if @project.pi %>
					<span class="fw-bold" style="font-size: 25px; color: #0c590c;"><%= @project.number %></span>
					<div>
						<small>PI: <%= @project.pi.number %></small>
					</div>
					
					<% end %>
				</div>
			</div>
		</div>
		<% if @project.pi %>
		<div class="row">
			<div class="col-lg">
					<div class="form-group  ">

						<label class="mb-2 mt-1 small-timeline">
							<small>PI: <%= @project.pi.number %></small>
						</label>


					</div>
				</div>
				
				
		</div>
		<div class="row">
				<div class="col-lg">
					<div class="form-group  ">

						<label class="mb-2 mt-1">
							<small>
							<%= @project.pi.product %>
							</small>
						</label>


					</div>
				</div>
				<div class="col-lg">
					<small><%= @project.pi.incoterm %> <%= @project.pi.pod %></small> 
				</div>
				<div class="col-lg">
					<small>
						<%= @project.pi.unit_price %> <span style="font-size: 10px;"> <%= @project.pi.currency %></span>
					</small>
				</div>
			</div>
			<% end %>
			<hr>

		<div class="col-lg-12">
			<div class="row bg-semi ">
				<div class="col-lg-7 mb-2">
					<div class="form-group">
						<label class="mb-2 mt-3">
							CI number
							<span class="text-danger">*</span>
						</label>
						<%= form.text_field :number, class: 'form-control' %>
					</div>
				</div>
				<div class="col-lg-5 mb-2">
					<div class="form-group">
						<label class="mb-2 mt-3">
							Issue Date
							<span class="text-danger">*</span>
							<%= form.date_field :issue_date, class: "form-control mt-2" %>
						</label>
					</div>
				</div>
				
			</div>
			


			<div class="row">
				
				<div class="col-lg">
					<div class="form-group">
						<label class="mb-2 mt-1">
							Net Weight
							<span class="text-danger">*</span>
							<%= form.number_field :net_weight, :step => "0.0001", class: "form-control mt-2" %>



						</label>
					</div>
				</div>
				<div class="col-lg">
					<div class="form-group ">
						<label class="mb-2 mt-1">
							Gross Weight
							<span class="text-danger">*</span>
							
							<%= form.number_field :gross_weight, :step => "0.0001", class: "form-control mt-2" %>


						</label>
					</div>
				</div>
			</div>


			<div class="row bg-semi">
				<div class="col-lg">
					<div class="form-group">
						<label class="mb-2 mt-1">
							Payment Term
							<span class="text-danger">*</span>
							<div class="mt-2"><%= @project.pi.payment_term %></div>
						</label>
					</div>
				</div>
				<div class="col-lg">
					<div class="form-group">
						<label class="mb-2 mt-1">
							Advance Payment
							<%= form.number_field :advance_payment, class: "form-control mt-2" %>
						</label>
					</div>
				</div>
				<div class="col-lg">
					<div class="form-group">
						<label class="mb-2 mt-1">
							Balance Payment
							<span class="text-danger">*</span>
							
							<%= form.number_field :balance_payment, class: "form-control mt-2" %>


						</label>
					</div>
				</div>
			</div>


			<div class="row bg-semi">
				<div class="col-lg">
					<div class="form-group">
						<label class="mb-2 mt-1">
							Total Price
							<span class="text-danger">*</span>
							<%=  form.number_field :total_price, class: "form-control mt-2" %>
						</label>
					</div>	
				</div>
				<div class="col-lg">
					<div class="form-group">
						<label class="mb-2 mt-1">
							Account							
    					<%= form.collection_select :account_id, Account.includes(:bank).all, :id, :display_name_with_bank, {include_blank: true}, {class: 'form-select'} %>

						</label>
					</div>
				</div>
				<div class="col-lg">
					<div class="form-group">
						<label class="mb-2 mt-1">
							Currency
							<span class="text-danger">*</span>
							<div class="mt-2"><%= @project.pi.currency %></div>
						</label>
					</div>
				</div>
			</div>

			<div class="row bg-semi">
				
				<div class="col-lg-5">
					<div class="form-group">
						<label class="mb-2 mt-1">
							Validity
							<span class="text-danger">*</span>
							<div class="input-group mt-2">
								<%= form.number_field :validity, class: "form-control" %>
								<span class="input-group-text">Days</span>
							</div>
						</label>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<% if !@ci.document.id %>
			<div class="row">
				<div class="form-group">
					<label class="mb-2 mt-1">
						Upload Document
						<span class="text-danger">*</span>
						<%= form.file_field :document, class: "form-control custom-file-input mt-2" %>
					</label>
				</div>
			</div>
			<% else %>
			<% end %>

		</div>
	</div>
</div>
<div class="modal-footer">
	<%= form.submit 'Add CI to project', class: 'btn btn-primary', data: { action: 'click->bs-modal#submitEnd' } %>
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
<% end %>