<div class="col-lg-10 mx-auto mt-5">
	<div class="row">
		<div class="col mt-3">
	<div class="hide-on-mobile">
		<div class="btn-group" role="group" aria-label="Page Toggle">
			<% if @in_page == "not_sent" %>
			<%= link_to "Not Sent", not_sent_cis_path, class: "btn btn-primary active" %>
			<%= link_to "All", cis_path, class: "btn btn-primary" %>
			<% else %>
			<%= link_to "Not Sent", not_sent_cis_path, class: "btn btn-primary" %>
			<%= link_to "All", cis_path, class: "btn btn-primary active" %>
			<% end %>
		</div>
	</div>
	</div>
<div class="col">
	<%= form_with(url: cis_path, method: :get, local: true, class: "d-flex justify-content-end mb-3") do |form| %>
	<div class="form-group">
		<label for="sort_by" class="me-2">Sort by:</label>
		<%= select_tag :sort_by, options_for_select({
			'Project' => 'project_number_desc',
			'CI Number' => 'ci_number',
			'PI Number' => 'pi_number',
			'Date' => 'issue_date'
		}, selected: @sort_by), onchange: 'this.form.submit();', class: 'form-select form-select-sm' %>
	</div>
	<% end %>
	</div>
	</div>

	<div class="card mb-5">
		<div class="card-body">
			<div class="d-flex justify-content-between align-items-center">
				<h5 class="card-title text-center mb-0">Commercial Invoices (CIs)</h5>
				<% if user_signed_in? && current_user.sales? %>
				
				<span>
				</span>

				<% end %>

			</div>
		</div>
	</div>
	<row class="m-2">
		<div class="col-sm">
			<table class="table">
				<thead>
					<tr>
						<th scope="col" class="col-sm-1">CI number</th>
						<th scope="col" class="col-sm-1">PI number</th>
						<th scope="col" class="col-sm-1">Project</th>
						<th scope="col" class="col-sm-1">Net Weight</th>
						<th scope="col" class="col-sm-1">Gross Weight</th>
						<th scope="col" class="col-sm-1">Unit Price</th>
						<th scope="col" class="col-sm-1">Total Price</th>
						<th scope="col" class="col-sm-1">Term</th>
						<th scope="col" class="col-sm-1">Issue Date</th>
						<th scope="col" class="col-sm-1">File</th>
						<th scope="col" class="col-sm-1">Send</th>
						
						<th scope="col" style="text-align: center;" class="col-sm-4 text-right">Actions</th>

					</tr>
				</thead>
				<tbody>
					<% @cis.order(created_at: :desc).each do |ci| %>
					<tr style="font-size: 12px;">

						<th scope="row"><%= ci.number %></th>
						<td><%= ci.pi.number %></td>
						<td><%= link_to ci.project.number, project_path(ci.project) %></td>

						<td><%= ci.net_weight %></td>
						<td><%= ci.gross_weight %></td>
						<td><%= ci.pi.unit_price.to_i %></td>
						<td><%= ci.total_price.to_i %> </td>
						<td><%= ci.pi.payment_term %></td>
						<td><%= ci.issue_date&.strftime('%b %d %a') %></td>
						<td><% if ci.generated_document.present?%>
							<%= link_to 'View CI', url_for(ci.generated_document.file), target: '_blank' %>
							<% end %>
						</td>
						<td>
							<% if user_signed_in? && (current_user.sales? || current_user.admin?) %>
							<%= link_to toggle_sent_ci_path(ci), data: { turbo_method: :patch, turbo_confirm: 'Are you sure?' }, class: "text-decoration-none" do %>
							<span class="mb-1 timeline-h5 <%= ci.sent ? "text-success" : "text-danger" %>"><%= ci.sent ? "Withraw Ci" : "Send Ci" %></span>
							<% end %>
							<% end %>
						</td>
						<td><% if user_signed_in? && current_user.sales? %>

							<span>
								<%= link_to "Edit", edit_project_ci_path(ci.project, ci), data: { controller: "bs-modal-form" }, class: "btn btn-info" %>

							</span>
							<% if !ci.swift.present? %>
							<span>
								<%= link_to "Swift", new_ci_swift_path(ci), data: { controller: "bs-modal-form" }, class: "btn btn-warning" %>

							</span>
							<% end %>
							<span>
								<%= link_to "CI .docx", create_document_form_ci_path(ci), data: { controller: "bs-modal-form" }, class: "btn btn-success" %>
								<% end %>
							</span>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>

		</div>
	</row>
	<div class="row mt-3">
		<div class="col-sm">
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">
					<%= paginate @cis, remote: true %>
				</ul>
			</nav>
		</div>
	</div>
</div>