<%= form_with model: @report do |form| %>
<div class="modal-body">
	<div class="row">
		<% if @report.errors.any? %>
		<div class="error-area" style="color:red;">
			<h3><%= pluralize(@report.errors.count, 'error') %> prohibited your Report from being saved.</h3>
			<ul>
				<% @report.errors.each do |error|%>
				<li>
					<%= error.full_message%>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="row">
			<div class="col-lg-6">
				<div class="d-flex justify-content-start">
					<h3>Report</h3>
				</div>
			</div>
			
		</div>
		<div class="row mt-2">
			<div class="col-lg-8">
				<div class="form-group mt-3">
					<label for="amount" class="form-label">
						Subject
						<span class="text-danger">*</span>
					</label>
					
					<%= form.text_field :subject, class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-lg-12">
				<div class="form-group">
					<label class="mb-2 mt-3">
						Deatils
						<span class="text-danger">*</span>
					</label>
					<%= form.text_area :details, class: 'form-control', rows: 5 %>
				</div>
			</div>
			<div class="col-lg">
				<div class="form-group">
					<%= form.label :documents, class: 'mb-2 mt-3' do %>
					Attach Documents
					<span class="text-danger">*</span>
					<% end %>
					<%= form.file_field :documents, multiple: true, class: 'form-control' %>
				</div>
			</div>
		</div>




		
	</div>
</div>
<div class="modal-footer">
	<%= form.submit 'Save Changes', class: 'btn btn-primary', data: { action: 'click->bs-modal#submitEnd' } %>
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
<% end %>

