<!DOCTYPE html>
<html>
<head>
  <title>Desk</title>
  <%= favicon_link_tag 'favicon.png' %>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body class="<%= controller_name %>-controller <%= action_name %>-action">
  <% unless controller_name == 'rial_receipts' && action_name == 'show' %>

  <div class="<%= 'container' unless controller_name == 'projects' && action_name == 'list' %>">

    <div class="row">
      <div class="col-lg-10 mx-auto">

        <% flash.each do |type, message| %>
        <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% end %>
        <div id="notices"></div>



        <%= render 'shared/header' %>
      </div>
    </div>
    <%= yield %>
    <%= turbo_frame_tag 'remote_modal' %>
    <div class="col-lg-10 mx-auto">
      <%= render 'shared/footer' %>
    </div>
  </div>
  <% else %>
  <%= yield %>
  <% end %>

</body>
</html>
