<div class="col-lg-10 mx-auto mt-5">
	<div class="row">
		<div class="col-lg-4">

			<%= render 'profile_image_name', user: @user%>

			
			
			<div class="card mb-4 mb-lg-0">
				<div class="row m-2">
					<div class="col-lg">
						<div class="d-flex justify-content-start">
							<h4 class="text-secondary">Vacations</h4>
						</div>
					</div>
					<div class="col-lg">
						<div class="d-flex justify-content-end">
							<%= link_to vacations_path, class: "btn btn-secondary" do %>
							All Vacations
							<% end %>
						</div>
					</div>
					
				</div>
				<% if user_signed_in? && @user.vacations.present? %>
				<div class="card-body p-0">
					<ul class="list-group list-group-flush rounded-3" id="vacation_items">
						<% @user.vacations.order(created_at: :desc).limit(4)
						.each do |vacation| %>
						<%= render 'vacations/vacation', vacation: vacation %>
						<% end %>
					</ul>
				</div>
				<% end %>
			</div>
			

		</div>
		<div class="col-lg-8">
			<%= render 'profile_details', user: @user%>
			<%= render 'profile_payment_orders', user: @user%>



		</div>
	</div>

	<%# comment this part for development  %>
<% if @fillers_grouped.any? %>
  <h3 class="mb-4 mt-3">Assessment Forms</h3>

  <% @fillers_grouped.each do |(year, period), forms| %>
    <div class="card mb-5 mt-2">
      <div class="card-title mt-2 ms-2 text-warning">
        <h5>Year: <%= year %>, Period: <%= period %></h5>
      </div>
      <div class="card-body">
        <% unique_fillers = forms.map(&:filler).uniq %>
        <% unique_fillers.each do |filler| %>
          <div class="accordion" id="accordionExample<%= year %><%= period %>">
            <%= render 'assessments/assessments', user: @user, filler: filler, year: year, period: period %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>


	  <%# end of comment %>

</div>